[2020-02-06 20:20] SebastianZimmeck opened #1 "Which technologies for the frontend?"
@davebaraka will look into which frontend technologies to use.

(@rgoldstein01, @pakaelbling, @kalicki1)

[2020-02-14 04:11] SebastianZimmeck opened #2 "Design of web opt out button"
This is the [same issue as for mobile](https://github.com/privacy-tech-lab/privacy-rights-platform-mobile/issues/7).

(cc'ing @rgoldstein01, @kalicki1, @pakaelbling)

[2020-03-17 21:14] #2 closed, assigned to davebaraka

[2020-03-17 21:14] #1 closed, assigned to davebaraka

[2020-03-19 23:05] SebastianZimmeck opened #3 "Explore whether it is possible to inject a do-not-sell header in visited websites via a browser extension"
As discussed today, let's try to find out whether it is possible to inject a do-not-sell header into a website request via a browser extension.

**Background**

The California Attorney General specified the following in the [latest regulations](https://www.oag.ca.gov/sites/all/files/agweb/pdfs/privacy/ccpa-text-of-second-set-mod-031120.pdf?) to the new California Consumer Privacy Act (CCPA):

Thes

[2020-03-26 14:54] #3 closed, assigned to davebaraka, kalicki1

[2020-03-27 15:30] SebastianZimmeck opened #4 "Plan and develop initial architecture of browser extension(s)"
As @davebaraka sent the world's first Do-Not-Sell signal, we know now that our header-based approach is working. The next step is to plan the architecture and features of the extension(s). (It could be multiple extensions, depending on which browsers we want to support; maybe even a mobile extension on Firefox).

@davebaraka, could you come up with a mockup for the UI? In terms of functionality, t

[2020-03-27 15:39] SebastianZimmeck opened #5 "Find which browsers we want to support"
**@kalicki1, please resolve this issue by March 31. This issue is blocking issue #4 .**

The starting point is Google Chrome. That also means that the extension will be working for Opera. Now, what about Firefox and Edge? Are Chrome extensions working for those? @kalicki1, please try it out with  the code @davebaraka wrote. Maybe, you need to package the extension first.

Also, on mobile, as far a

[2020-04-15 02:13] #4 closed, assigned to davebaraka, kalicki1

[2020-04-15 02:41] SebastianZimmeck opened #6 "Implement local in-browser storage to store the user's opt out preferences"
I am opening a new issue based on what @davebaraka [said earlier](https://github.com/privacy-tech-lab/privacy-rights-platform-browser-extension/issues/4):

On the `Evidence` classes idea, yes, maybe initially create two categories (1) opted out and (2) not opted out. Sort every URL in one of these categories. This would be mostly relevant for the custom opt outs, e.g., a user wants to opt out from

[2020-04-15 02:44] SebastianZimmeck opened #7 "Implement OptMeowt in Firefox"
I am opening a new issue based on what @davebaraka [said earlier](https://github.com/privacy-tech-lab/privacy-rights-platform-browser-extension/issues/4):

(cc'ing @rgoldstein01, @pakaelbling)

[2020-04-15 02:48] #5 closed, assigned to kalicki1

[2020-04-15 02:54] SebastianZimmeck opened #8 "Develop UI"
I am opening a new issue based on what @davebaraka [said earlier](https://github.com/privacy-tech-lab/privacy-rights-platform-browser-extension/issues/4):

(cc'ing @rgoldstein01, @kalicki1)

[2020-04-17 17:02] davebaraka opened #9 "Implement filters for whitelist"
We would like a way for the user to filter the network requests that get the 'Do-Not-Sell' header based on their whitelist. I think the api's we use to get the requests have a filter parameter that uses regular expressions. We will have to dynamically change this based on the users whitelist.

[2020-04-24 14:02] SebastianZimmeck opened #10 "Add counter to extension icon to show how many opt outs were sent for current site"
One of the usability issues that I see with our extensions is that it is not immediately clear whether whether Do-Not-Sell opt outs are sent on a site. The user would need to open the extension and perhaps go to the settings. Maybe, we can make it more transparent and have a counter similar to what ad blockers are using (see below). Though, instead of showing the count of blocked sites, the counte

[2020-04-25 16:29] SebastianZimmeck opened #11 "Distinguishing HTTP requests that should receive a Do-Not-Sell signal from those that do not"
As @davebaraka pointed out yesterday, many of the domains our HTTP browser extension communicates with should not necessarily receive a Do-Not-Sell signal. For example, if there is a simply an image being served, it may not be necessary to send a Do-Not-Sell signal to the respective domain.

@davebaraka suggested that there may be a way to distinguish based on the different categories shown in bro

[2020-05-05 13:12] #10 closed, assigned to davebaraka

[2020-05-15 23:52] SebastianZimmeck opened #12 "Integrating Do Not Sell with an existing ad blocker"
One additional thought. Maybe, it is worthwhile to take a close look at how ad block browser extensions (e.g., [uBlock origin](https://github.com/gorhill/uBlock)) work. In principle, most ad blockers (1) filter out HTTP requests for ads based on blocking lists (e.g., [EasyList](https://github.com/easylist/easylist)) and (2), if ad requests make it through, identify and remove ads in the browser vi

[2020-05-18 21:12] #8 closed, assigned to davebaraka

[2020-05-18 21:18] davebaraka opened #13 "Remove 'Overview' page"
To focus our approach on the extension's main functionalities, I will remove the Overview page from the options menu as it is not a necessary feature.

[2020-05-18 21:28] davebaraka opened #14 "Organize URLs by domain"
Currently, every request URL is shown in the popup of the extension. This information is difficult for the user to understand and it can be long on certain sites. In an effort to better visualize this information, we will organize the request URLs by domain.

[2020-05-18 21:39] davebaraka opened #15 "Make whitelist page editable"
We will add functionality to make the whitelist page in the options menu editable so a user can add, remove, and edit domains. The focus here will be UI functionality, the other part will be writing and reading to the storage, and filtering (issue #9).

[2020-05-20 15:03] SebastianZimmeck opened #16 "Implement simple import/export functionality for whitelist"
It would be useful if there was a way for the users of the extension to import and export their whitelist or store this information somewhere outside of the browser. Otherwise, when they are getting a new computer or reinstalling the browser, they would need to go through all the whitelisting again.

Here are two ways I can think of how to go about this:
1. Storing the whitelist in a file (JSON, Y

[2020-05-20 15:53] SebastianZimmeck opened #17 "Implement the IAB CCPA Compliance Framework"
Depending a bit on how things are developing on the policy end (i.e., whether we find some support for our signal, ideally in terms of standardization), we should consider also implementing the [IAB CCPA Compliance Framework](https://www.iab.com/guidelines/ccpa-framework/) (should it turn out that there is not a whole lot of support for our signal). Their [US Privacy String](https://github.com/Int

[2020-05-20 16:03] SebastianZimmeck opened #18 "Update readme"
@kalicki1, could you update the [readme](https://github.com/privacy-tech-lab/privacy-rights-platform-browser-extension/blob/master/README.md)? At the moment, it is really only a stub.

- What do the different files and directories contain?
- How do users install and run the extension?

Here is an [example from our PrivacyFlash Pro work](https://github.com/privacy-tech-lab/privacyflash-pro). At thi

[2020-05-20 16:43] SebastianZimmeck opened #19 "Design logos, find name, and replace in code and repo"
The icon @davebaraka came up with is already pretty good. So, maybe that could be the logo. But we can also come up with more or something different, especially, if we are creating a landing page (issue #16), there should be an appealing design.

Related to that is also the naming: "Privacy Rights Platform" may be a slight misnomer. At most, it is a smallish platform as we are planning it now. May

[2020-05-21 22:21] #6 closed, assigned to kalicki1

[2020-05-22 15:33] #18 closed, assigned to kalicki1

[2020-05-26 20:53] #9 closed, assigned to kalicki1

[2020-05-26 21:15] kalicki1 opened #21 "Resolve slow loading times in whitelist filters"
After writing the first implementation of our whitelist feature in issue #9 , I started finding slowdowns in website loading time and Chrome responsiveness during testing. @SebastianZimmeck and I discussed the possibility of switching the type of storage we are using, reorganizing the logic of the code, as well as taking a look at how we implemented our APIs, to improve the extension's usability.

[2020-05-29 18:02] SebastianZimmeck opened #24 "Update gitignore"
I realize that the [gitignore](https://github.com/privacy-tech-lab/privacy-rights-platform-browser-extension/blob/master/.gitignore) is still from the time when we considered using Vue.js. @kalicki1, could you update it? At the moment, we are not using anything specific. If you do not find anything better, you can use the[ generic gitignore from the PrivacyFlash Pro repo](https://github.com/privac

[2020-05-29 19:57] #14 closed, assigned to davebaraka, kalicki1

[2020-05-29 19:57] #13 closed, assigned to davebaraka, kalicki1

[2020-06-02 18:05] #21 closed, assigned to kalicki1

[2020-06-02 18:25] #24 closed, assigned to kalicki1

[2020-06-11 20:08] #16 closed, assigned to kalicki1

[2020-06-11 20:10] kalicki1 opened #27 "Remove `Undefined` from DOMAINS whitelist?"
@SebastianZimmeck and I noticed that when the DOMAINS whitelist is reset and first begins to repopulate itself, an `Undefined` entry always pops up. We are not sure why this is, but it is the only abnormal behavior we see at the moment. We can address this when we have time, since it doesn't seem to be causing any major issues at the moment.

[2020-06-11 20:14] kalicki1 opened #28 "Parsing domains passed into our DOMAINS whitelist"
Currently, our DOMAINS whitelist saved in the local storage saves the current domain as it is passed by `details.initiator` from the webRequest API. This works for now, though it includes many subdomains including `doc.google.com` and `voice.google.com` that are never generalized, whereas ideally, we would only store `google.com`, as @SebastianZimmeck pointed out.

Maybe we can find a third party

[2020-06-11 20:17] kalicki1 opened #29 "Connecting Popup whitelist switch to backend"
In our last call, @davebaraka mentioned the toggle next to the current website domain in the extension Popup should allow a user to quickly add or remove a site from the whitelist. This issue should connect that toggle to the backend and ensure everything here is running smoothly.

[2020-06-12 03:51] kalicki1 opened #30 "Add a Domain List active marker to Popup window for clarity"
My idea for opening this issue is two-fold:

While I was testing, I noticed that I could not easily tell whether the whitelist feature was on at all while inside the popup. I'm hoping to add some kind of notification, icon, or badge somewhere near the top of the popup that easily indicates whether the whitelist feature is on or off. Since this bleeds into the UI of the extension, I'm hoping @daveb

[2020-06-12 14:56] SebastianZimmeck opened #32 "Clarify how extension works with notifications upon first install"
One way to clarify for the users how the extension works is to show notifications after installation.

For example, there was a new feature today in MS Teams, and it showed me the following notification. If possible, that is something we should also consider. I probably would not overdo it to avoid annoying users, but for one or two essential places this may be an option.

<img width="354" alt="Sc

[2020-06-12 15:19] SebastianZimmeck opened #33 "Adding dark mode"
In the spirit of our times, let's add dark mode. [Dark Mode Switch](https://github.com/coliff/dark-mode-switch) should do the trick easily. @davebaraka or @kalicki1, feel free to pick this up whoever wants to do it.

(@rgoldstein01)

[2020-06-12 18:22] #28 closed, assigned to kalicki1

[2020-06-22 17:24] kalicki1 opened #34 "Syncing users' Domain List with online database"
We've decided to split issue #25 into two new issues since it discussed separate topics. Here's what @SebastianZimmeck mentioned about syncing whitelists in issue #25:

Let's use this issue to discuss possible options for syncing our users' whitelists as well as for uploading its implementation.

(cc'ing @davebaraka @rgoldstein01)

[2020-06-24 19:04] SebastianZimmeck opened #36 "Add copyright notice to each file and what its code is for"
@kalicki1, once we have a name, could you add the following copyright notice to each source file?

[code]

In fact, it would be even better if the description is in some format that allows to generate documentation from it. Maybe, [sphinx-js](https://pypi.org/project/sphinx-js/) (at least, for JS files, not sure whether there is any cross-language solution)? Generally, it would be nice if all comm

[2020-06-26 00:06] SebastianZimmeck opened #38 "Implement acknowledgment to user that opt out was successful"
If a user opts out, it would be nice to have some acknowledgment from the service that received the request that it was received and that it will be honored.

Also, if someone opts out and they are not from California and the service receiving that signal only does the opt out for California consumers, there needs to be some signal back to the browser extension explaining why the request is refuse

[2020-06-26 03:27] kalicki1 opened #39 "Add modifier buttons to navbar on Domain List page"
This issue is a continuation of issue #15. The mockups I created for the new whitelist page include some extra functionality to make modifying the whitelist easier, including `select`, `delete`, as well as `import` and `export` buttons. The core whitelist modification functionality is there, so this should be seen as an enhancement to the aforementioned issue.

[2020-06-26 03:30] #15 closed, assigned to kalicki1

[2020-06-26 03:43] #29 closed, assigned to kalicki1

[2020-06-29 19:53] #19 closed, assigned to kalicki1

[2020-07-01 02:38] SebastianZimmeck opened #42 "Implement the DAA CCPA Opt Out Tool for the Web"
I just checked the [DAA CCPA Opt Out Tool for the Web](https://digitaladvertisingalliance.org/DAA_style/ADS/CCPA_Opt_Out_Tool_Technical_Description.pdf) (which doubles also as the NAI's opt out tool).

In principle, the DAA solution is technology-agnostic (per the above link, "store the browser request through an opt out cookie or other technology"). However, in practice it is [implemented via an

[2020-07-01 19:02] #33 closed, assigned to kalicki1

[2020-07-02 06:21] kalicki1 commented on #36
I pushed changes to all the comments in the JavaScript files we created according to the JSDoc format. Hopefully these new comments are formatted well enough for `sphinx-js` to parse. I have not tried rendering any documentation yet, so there might need to be some changes made to the comments here and there if any problems arise.

As for our non-JS files, I'm wondering if we need to do the same ki

[2020-07-02 16:34] SebastianZimmeck commented on #36
Great! My suggestion would be to use CSS comments as documented [here](https://www.w3schools.com/css/css_comments.asp) and HTML comments as documented [here](https://www.w3schools.com/html/html_comments.asp). I am not sure if there exists any tool to auto-generate documentation from CSS or HTML files. But that is OK.

Once you finalized those comments, feel free to open a PR.

[2020-07-02 18:22] kalicki1 commented on #36
Alright, I pushed the last of the comments for now. I will open a pull request and when we merge, I think we should be able to close this issue!

[2020-07-02 18:34] SebastianZimmeck commented on #36
Sounds good!

[2020-07-02 19:00] #36 closed

[2020-07-02 19:09] SebastianZimmeck opened #44 "Implement Do Not Track header"
At least one major publisher seems to interpret Do Not **Track** signals as Do Not **Sell** signals. So, it may be worthwhile to [implement Do Not Track](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/DNT) as well. Essentially, the Do Not Track setting would exactly mirror whatever the user has selected for Do Not Sell.

(cc'ing @davebaraka and @rgoldstein01)

[2020-07-02 22:49] kalicki1 commented on #17
I started working on implementing the IAB CCPA guidelines for opting-out in our extension and managed to get a rudimentary cookie-modifier functioning. I haven't uploaded the code yet just because it is heavily based on how [AccuWeather](https://www.accuweather.com/) has implemented the framework (they have an 'opt-out' link in the site footer that links to a `us_privacy` cookie for site visitors

[2020-07-03 00:26] SebastianZimmeck commented on #17
If it is not straight copied, it is OK in terms for copyright. You can certainly use the same APIs and the code can look similar.

If it is not a drag on performance, that would be OK. Maybe, it is possible to identify request with a cookie. The function would only need to be run for that.

The points you describe with the `hostOnly` and other settings seem tricky. Perhaps, we can discuss this mor

[2020-07-03 01:28] kalicki1 commented on #17
Maybe I misspoke when I said this. What I meant is that since AccuWeather does set and use the `us_privacy` first-party cookie, I tested out my code on the site to see if I could set up some sort of "communication," even if they didn't respond. In other words, could I see that they created a cookie on my browser and then could I modify that specific cookie.

The rest does look promising, hopefully

[2020-07-03 15:59] SebastianZimmeck commented on #34
I will be creating a Firebase backend in the next week or so.

[2020-07-03 17:27] kalicki1 commented on #34
The recent commit here has all the changes I made when I was trying to implement Firebase earlier this week. I managed to get a simple Firebase connection going between our extension and my Cloud Firestore database using the prepackaged Google documentation functions. All of these calls and the Firebase configuration information should be stored in `firebase.js`.

The biggest issue I ran into whil

[2020-07-03 17:34] kalicki1 commented on #34
@rgoldstein01, this is what I was referring to in our meeting. No worries if you can't get to this, I know you are already fairly busy. Let me know if you have any questions if you do take a look however. This code is very much work in progress.

(cc'ing @SebastianZimmeck )

[2020-07-03 19:42] SebastianZimmeck commented on #34
Thanks, @kalicki1. I have created a Firebase backend stub. You and @rgoldstein01 should have access.

[2020-07-04 12:56] SebastianZimmeck commented on #17
A few more sites that can be used for testing as they are using the IAB CCPA Compliance Framework.

- https://system.jobboard.io/ccpa-opt-out
- https://www.top5.com/
- https://zentoso.com/
- https://www.living101.com/

Here is a [site](https://cookiepedia.co.uk/cookies/usprivacy) that lists various other domains having the usprivacy cookie. It does not seem to be always correct, though.

[2020-07-06 15:10] SebastianZimmeck commented on #42
OK, I thought some more about this. Here is a plan (that hopefully works).

1. Identify the 40 or so URLs that are used in the DAA extension (e.g., `choices.adhaven.com`), the cookie names (e.g., `optout`) and their values (e.g., `1`). Put all that information in a structured file (e.g., JSON) that can be read by our browser extension.
2. When the browser extension is installed by the user and run

[2020-07-06 15:14] SebastianZimmeck commented on #27
@kalicki1 observed that this does not seem to occur any longer. @kalicki1, if you could confirm this and close the issue accordingly.

[2020-07-06 17:21] kalicki1 commented on #27
@SebastianZimmeck, yes I have been checking back on this issue every so often to see if it still comes up, but it does look like it somehow resolved itself/may have been a development issue. I agree, we should be able to close the issue now!

[2020-07-06 17:21] #27 closed

[2020-07-06 21:40] kalicki1 commented on #17
The recent commit I pushed has functionality for sending a chosen cookie to every single site visited by a user. So far, there is no implemented functionality to check if a cookie is already on the site, and if there was one, for it to be parsed and responded to accordingly.

@SebastianZimmeck, after reading your updates to issue #42, I was thinking that we could use the idea of storing known ad n

[2020-07-06 21:49] kalicki1 commented on #42
This looks like a good idea, and a good find!

I will start to implement this alongside my work in issue #17, since the idea of storing variables in JSON, or other structured files, is related to another idea I had. Since it appears that different sites use either `usprivacy` or `us_privacy`, and potentially others, we could store these variations in a structured file similar to how you suggested

[2020-07-07 00:34] SebastianZimmeck commented on #17
Good idea. Per the IAB specification, it should be `us-privacy` (bottom of the [page](https://github.com/InteractiveAdvertisingBureau/USPrivacy/blob/master/CCPA/US%20Privacy%20String.md)). However, it certainly may be the case that some implementers use a slightly different format.

At the moment, I am thinking that it may be the best if you are creating two different JSON specs; one with the vari

[2020-07-07 20:43] SebastianZimmeck opened #45 "Change Domain and DAA Lists file format from JSON to YAML or other suitable format"
As just discussed with @kalicki1, it may be worthwhile to also implement support for custom header and cookies. The idea is that we could re-use the functionality we already have (e.g., DAA cookie functionality per issue #42 and our own header implementation). There could be another JSON spec (or two JSON specs; one for cookies and one for headers) where users could enter custom do not sell cookie

[2020-07-07 20:44] SebastianZimmeck commented on #45
(cc'ing @davebaraka and @rgoldstein01)

[2020-07-07 20:47] SebastianZimmeck opened #46 "Improve settings and options page"
As @kalicki1 suggested today, it may be worthwhile to add some more detail in terms of options and settings, e.g., explain how the extension actually works (via cookies and headers), what Do Not Sell is (e.g., that it is different from opting out from ads or tracking),  the law it is based on (CCPA, Nevada SB221, ...).

(cc'ing @rgoldstein01 and @davebaraka)

[2020-07-07 20:49] SebastianZimmeck commented on #12
One idea we discussed today is to package our extension in a library and make it easily accessible to ad blockers and others interested via an API. As this work would likely require quite a bit of restructuring and refactoring of code, we should make sure that there is really interest before going through all the effort, though.

[2020-07-08 16:19] dmarti opened #47 "Show the user when a recipient denies Do Not Sell"
In some cases, a business receiving a Do Not Sell can refuse it and provide an explanation.

[Final Text of Regulations - Title 11. Law - Division 1. Attorney General - Chapter 20. California Consumer Privacy Act Regulations - oal-sub-final-text-of-regs.pdf](https://www.oag.ca.gov/sites/all/files/agweb/pdfs/privacy/oal-sub-final-text-of-regs.pdf)

In the event that this happens, make the user awar

[2020-07-08 17:08] SebastianZimmeck commented on #47
Very good point, @dmarti. Your suggestion is essentially the flip side of issue #38, acknowledging that the request was received and will be honored. So, we will be implementing a communications channel that allows this feedback from company to user.

[2020-07-08 17:08] SebastianZimmeck commented on #47
(cc'ing @davebaraka and @rgoldstein01)

[2020-07-09 03:33] kalicki1 commented on #17
In the newest code update, I added:
- Local variables to store the extension's [default IAB name and value](https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/950c14843a8ece9df827806ebfb3455416e9e556/src/us_privacy.js#L61), as well the discussed `us_privacy` [name variations](https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/950c14843a8ece9df827806ebfb3455416e9e5

[2020-07-09 04:03] kalicki1 commented on #44
This was a relatively simple implementation: we have already built the infrastructure for sending headers to every site we visit. [Here is the DNT (Do Not Track) signal](https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/431fbc687fefbe39c0fb711293444deb5782ce54/src/background.js#L28) in the extension. I also have a photo of the headers side by side in the Chrome console below:

<i

[2020-07-09 13:28] SebastianZimmeck commented on #44
Excellent, @kalicki1. Please feel free to open a PR, and we can merge.

[2020-07-09 13:47] SebastianZimmeck commented on #17
So, our cookie is set on the domain, `jobboard.io`, and the site sets the cookie on the subdomain, `sytem.jobboard.io`? Are the two different domains the problem? In other words, would there be only one cookie written if we would also write the cookie to the subdomain?

As I see it at the moment, I do not think that it is a big problem that there are cookies in the domain and subdomain(s). Especia

[2020-07-10 00:57] kalicki1 commented on #17
No, our cookie is the one set to the subdomain `system.jobboard.io`. When a new cookie needs to be made from scratch, our extension abstains from setting a specific domain. Chrome fills out this information itself based on the current URL, which gives us `system.jobboard.io`, in this case a specific subdomain. However, it looks like the site sets its own IAB cookie to the domain `.jobboard.io` and

[2020-07-10 01:05] kalicki1 commented on #17
Here are some thoughts I have on a few rough ideas we could implement.

**Making a function to 'guess' what domain to use**
If it comes down to it, we could also create some sort of function to 'guess' the best domain to use when setting a `us_privacy` cookie if ones does not exist. We could collect information on all the other cookies set by a site, average the number of times a particular domain

[2020-07-10 03:01] kalicki1 commented on #17
**Recent commit regarding multiple IAB cookies**
The recent commit here removes the default cookie placed by the extension if, when the extension is called again, it recognizes multiple IAB cookies on a given URL. It does not guarantee that there will not be multiple cookies at all, but does solve the specific issue with loading our own cookie before a site gets to load their own as discussed abov

[2020-07-10 03:05] kalicki1 commented on #44
We should be able to close this issue for now.

[2020-07-10 03:05] #44 closed

[2020-07-10 17:18] SebastianZimmeck commented on #42
As @kalicki1 remarked, due to the same origin policy it may be necessary to navigate to the particular site where we want to place the cookie. Ideally, this would work without visible browser action (i.e., opening a tab, navigating to a particular URL), but it may not be possible. One option would be to use some kind of [headless browser functionality](https://www.keycdn.com/blog/headless-browsers

[2020-07-10 17:33] SebastianZimmeck commented on #38
As just discussed, we do not necessarily need to do this for every type of opt out OptMeowt supports. We can just do it for the IAB, which provides for it in their specification, and our own header-based opt out functionality. Same for issue #47.

[2020-07-10 17:34] SebastianZimmeck commented on #47
As just discussed, we do not necessarily need to do this for every type of opt out OptMeowt supports. We can just do it for the IAB, which provides for it in their specification, and our own header-based opt out functionality. Same for issue #38.

[2020-07-10 17:40] SebastianZimmeck commented on #17
As discussed, @kalicki1 will continue with his testing (and possibly open new issues and close this one as the concrete work becomes more clear). In principle, there are two approaches:

1. Write cookies for different domains and with different names; one of them will be correct
2. Identify which domain and name is the correct one

[2020-07-14 18:03] kalicki1 commented on #42
With some further testing, it turns out that it is in fact possible to place the cookies we want to add from the extension's background page. The last commit adds this functionality for all of the cookies saved in the `cookies_3p.json` file. Here are some specifics:

- Currently, the json saves only a 3rd party's cookie's name, value, and domain. From here, the extension generates a url to save th

[2020-07-14 18:06] kalicki1 commented on #42
@SebastianZimmeck, a minor thought that occurred to me while I was updating the 3rd party cookie information in our JSON file was that if an ad network catches on to the fact that users are automating their company-specific opt-out process, they could change their cookie just enough to break the ones that are set by our extension. We would not have a way to make sure this ever happened. I suspect

[2020-07-14 18:18] kalicki1 commented on #32
Last week, @SebastianZimmeck, @davebaraka and I discussed how we can implement this issue as it pertains to issue #42. Our idea was that we should explain the DAA CCPA Opt Out protocol to users somehow, since it is a protocol that would ideally run one time and will be potentially intrusive to the user experience while it executes.

@davebaraka suggested that I look into a form of an 'on install'

[2020-07-14 19:30] SebastianZimmeck commented on #42
Not sure how to go about this. But if you do a [whois](https://www.whois.com/whois/ipredictive.com) search, you will find that the domain is used by Adelphic, an ad network (demand side). Also, using the [DAA tool](https://optout.privacyrights.info/?c=1) and opting out from Adelphic, the opt out cookie is set on that domain. Ideally, we would be able to set the cookie as well.

[2020-07-14 19:40] SebastianZimmeck commented on #42
Apart from for whom the site is intended, are there doubts from a technical perspective?

Many of the sites will just be server domains not intended for anyone's visit. However, as long as a cookie is set properly to that domain, I see generally no problem. Maybe, there is a difference because of visiting the domain via a browser as opposed to just sending an HTTP request; not sure, though.

Simil

[2020-07-14 19:43] SebastianZimmeck commented on #42
Excellent!

[2020-07-14 22:21] kalicki1 commented on #17
Since I want to move development along in other areas of the extension and not spend too much time focused only on this issue, I will open a pull request to bring the changes made so far on this IAB CCPA implementation into the master branch. I will do the same with issue #42 to test the cookie code side by side and ways to simplify the code base if possible.

If major issues surface or revisions

[2020-07-14 22:31] #17 closed

[2020-07-14 23:42] kalicki1 commented on #42
Just to wrap up the discussion from above:

@SebastianZimmeck, as we discussed during our meeting, I managed to figure out that the opt-out cookie for `https://ipredictive.com/` does manage to get set through our own DAA implementation. When I checked again for the site's cookies with EditThisCookie instead of the Chrome Debugger I was able to view them. This means that this implementation should

[2020-07-14 23:49] kalicki1 commented on #42
**Final thoughts on the ipredictive/Adelphic issue**
As for the other issue regarding different companies owning different services/sites (ipredictive and Adelphic), I think our current implementation will work for this case. It is interesting to note that the relationship between the different sites and services is more complex than I anticipated, though I think that as long as we maintain our 3r

[2020-07-14 23:56] kalicki1 opened #50 "Implement DAA opt out"
As discussed in issue #42, I believe the baseline functionality for our variation of the DAA CCPA opt-out tool is basically finalized. At this point we should focus on updating our list of 3rd party cookies with as many different versions as we can, so we can support opting out of as many services as we can.

This will also help with testing to ensure that our DAA opt-out functionality works as in

[2020-07-14 23:58] kalicki1 commented on #50
**Thought about saving URLs in our JSON as well as domains**
Another thought I had is that we could find specific URLs we know will work for our cookie-setting process. This would potentially replace the URL-guessing game I am doing at the moment. Right now the extension takes the given domain and adds `https://` to the front and `/` to the back as the path as a simple string operation. This has w

[2020-07-15 00:06] SebastianZimmeck commented on #50
Sounds good!

(cc'ing @rgoldstein01 and @davebaraka)

[2020-07-17 15:41] #42 closed

[2020-07-17 17:42] SebastianZimmeck opened #52 "Test IAB CCPA Compliance Framework"
As just discussed with @kalicki1, we want to put in a short paper entry at [WPES](https://wpes.tech/2020/). The idea is to make the claim that OptMeowt is able to automatically opt out users from sites that make use of the IAB CCPA Compliance Framework. In particular, we want to test for 20 sites whether it is possible to rewrite the `usprivacy` cookie. If it works for 20 sites, there is good reas

[2020-07-17 17:57] kalicki commented on #52
Hey guys! for some reason I`m receiving notifications from you, perhaps because it is a similar username with @kalicki1?! How funny!

[2020-07-17 18:06] SebastianZimmeck commented on #52
Thanks for checking in @kalicki! Typo on my end. Sorry about that ... :)

[2020-07-17 18:37] SebastianZimmeck opened #53 "Test the DAA CCPA Opt Out Tool for the Web"
For the WPES paper, we also would like to test the DAA CCPA opt out similar to the IAB test (issue #52). However, because the participating companies in the opt out tool are a limited set (100 or so per https://optout.privacyrights.info/?c=1), the approach is a bit different than for the IAB. Essentially, the idea here is to pick 20 (e.g., the first 20 or a random set of 20; either way works) and

[2020-07-20 13:57] SebastianZimmeck commented on #34
@rgoldstein01, do you have time to do this? (It is OK if not.)

[2020-07-20 20:50] SebastianZimmeck commented on #52
@kalicki1 provided a [Google Sheet](https://docs.google.com/spreadsheets/d/1JV0ai_oN0EFjKdzOPVWlGlVA0rbF5QlLiVl0m75Zy3M/edit?usp=sharing) to keep track of the tests.

[2020-07-20 20:57] SebastianZimmeck opened #54 "Add functionality for placing usprivacy third party cookies for the IAB CCPA Compliance Framework"
@kalicki1 implemented opting out for the IAB CCPA Compliance Framework (issue #17). The most common use case is the `usprivacy` string in a first party cookie. However, there are also sites with third party cookies using the `usprivacy` string. Thus, depending how far we want to go implementing the IAB CCPA Compliance Framework, it may be worthwhile to have functionality for setting the `usprivacy

[2020-07-20 22:48] SebastianZimmeck commented on #11
As @kalicki1 observed during his IAB tests, sometimes OptMeowt places an extra opt out cookie for the `google` domain. In principle, this is not a problem (assuming that Google itself is not selling personal data, which seems to be the case according to its privacy policy). This is just another situation where an extra cookie will not have any effect (maybe, performance is an issue, though we woul

[2020-07-20 23:50] kalicki1 commented on #52
**Regarding the above commit and tests so far:**

When I finished testing the first 20 links @SebastianZimmeck provided above, I found two instances of a site's IAB cookie not being read properly, and hence not updated properly. I managed to find that this was related to the fact that both of these sites had their IAB cookies set to a non-default URL path (i.e. not "/"). Changing OptMeowt's IAB co

[2020-07-22 20:01] kalicki1 commented on #53
After a call with @SebastianZimmeck yesterday, I began looking into this issue and compiled a document with information about the DAA tool and the third party cookies we want to use to opt-out of the sale of users' data. The [Google document is linked here](https://docs.google.com/document/d/1Z5DgutYIJoSGxWxz99XbGTFQiJhZOXZL1OfIfhtzYaI/edit?usp=sharing).

At the moment I have a section for future

[2020-07-22 20:27] kalicki1 commented on #53
### Results for the first 10 DAA Companies
I began to look into the first 10 companies listed on the [DAA CCPA Opt-Out Tool](https://optout.privacyrights.info/?c=1), and currently I have found concrete opt-out cookies for 6/10 of the companies (with one of the successful cases potentially being a special case requiring additional work done by OptMeowt in 'real world' use cases).

**Special Case re

[2020-07-24 14:33] #52 closed

[2020-07-24 14:33] #53 closed

[2020-07-24 17:58] dmarti commented on #47
Another example of where a refusal may happen: "not a covered business"

[2020-07-24 18:53] SebastianZimmeck commented on #47
@dmarti, do you mean because the CCPA is not applicable to a business (e.g., it does not have the required minimum number of users in California)?

[2020-07-24 19:20] dmarti commented on #47
Yes. The IAB just has "does not apply to this user in this context" which is general.

https://github.com/InteractiveAdvertisingBureau/USPrivacy/blob/master/CCPA/USP%20API.md#requirements-for-us-privacy-user-signal-api

[2020-07-24 20:26] SebastianZimmeck commented on #47
Got it!

[2020-07-24 20:33] SebastianZimmeck opened #55 "Revise language in UI, code, and code comments"
We should adjust the language, e.g., instead of "whitelist" use "included" or "No Do Not Sell signal sent." Maybe, there are other uses of language beyond the term "whitelist" that we should also adjust. So, let us look through all the UI language, code comments, etc. to revise.

[2020-08-04 05:34] kalicki1 commented on #50
I spent today wrapping up our DAA tool 3rd party cookie collection and compiled it into a Google Doc I have [linked here](https://docs.google.com/document/d/1a-vfjqgyElhELenN-eyCtxV-w-FY4GMaFISP1-Nv2tk/edit?usp=sharing).

The doc above contains all of the cookies that the DAA tool places, including those with generated values. I went back through the first half of the companies on the DAA tool lis

[2020-08-04 14:08] SebastianZimmeck commented on #50
Great! @kalicki1, do you have some summary statistics?

- How many companies does the DAA tool currently have?
- For how many companies were you able to implement the opt out in OptMeowt?
- For how many companies does the opt out via OptMeowt work/not work?

Also, if there are companies for which it does not work, do you know the reaon?

[2020-08-04 15:52] kalicki1 commented on #50
### Stats
Yes, @SebastianZimmeck! Here are some statistics:
- The DAA tool currently has **62 companies** supported.
- Of the 62 companies listed, the DAA tool _failed_ for  **5/62 companies**. As a side note, I was able to scrape one cookie from the DAA tool for EMX, though evidently not all of them as the tool notified me the procedure failed. The tool also **does not specify the reason for fail

[2020-08-04 20:54] SebastianZimmeck commented on #50
Excellent results, @kalicki1!

[2020-08-05 12:28] SebastianZimmeck commented on #50
I believe I came across a first party custom opt out cookie. When I go to https://www.thegreatcoursesplus.com/ccpa and click on `To opt out from the “sale” of personal information through interest-based / targeted advertising, please click OPT OUT HERE` the following cookie is placed for the domain www.thegreatcoursesplus.com.

@kalicki1, perhaps you can try out if you see the same result and use

[2020-08-07 15:49] kalicki1 commented on #45
**Recent Commit Notes**

The two recent commits were attempts at implementing the discussed custom cookies functionality. Commit
d1b08f5 adds support for reading multiple custom cookie JSON files (namely the 3rd party DAA cookies and any custom cookies in another JSON) and setting them respectively. Since I had a hard time finding support for writing to JSON files from within a Chrome extension (o

[2020-08-07 17:24] kalicki1 commented on #45
As discussed in our meeting with @SebastianZimmeck just now, we can leave out the custom cookie export functionality I added in the last commit. This can be something we add back in in the future when we have more time.

For now, I will look into changing our JSON cookie list files to YAML, or a related file format, since it supports comments for lists that might need them. At the moment, we envis

[2020-08-07 19:19] kalicki1 opened #56 "Updating the Domain List as technology agnostic To-Do"
During our meeting today, @SebastianZimmeck and I discussed the current OptMeowt UI and the user experience it provides. We decided it needs a major revamping, which is outlined below:

- [x] Update the 'whitelist' language to 'Domain List,' since it will be technology agnostic and will not need to specify what technologies you are switching on/off.
- [x] Update the default Domain List mode to sen

[2020-08-07 19:24] kalicki1 commented on #55
As discussed earlier today, I will make some major changes to the Domain List as mentioned in issue #56. Along with this, @SebastianZimmeck and I discussed updating the language of the About page, which should include, amongst other changes:

- A link to our [Landing Page](https://privacy-tech-lab.github.io/optmeowt/) ([GitHub link](https://github.com/privacy-tech-lab/optmeowt))
- A link to our ex

[2020-08-07 19:25] kalicki1 opened #57 "Update the About page"
As discussed earlier today, I will make some major changes to the Domain List as mentioned in issue #56. Along with this, @SebastianZimmeck and I discussed updating the language of the About page, which should include, amongst other changes:

A link to our Landing Page (GitHub link)
A link to our extension in the Chrome Web Store
A link to the privacy-tech-lab site
A link to our technical document

[2020-08-08 16:55] SebastianZimmeck opened #58 "Restructure Domain, Custom, and DAA lists"
As discussed with @kalicki1, we want to restructure OptMeowt's lists: the Domain, DAA, Custom Lists. This is a fundamental issue and should be resolved as soon as possible. What I am describing here goes a bit beyond what we discussed, @kalicki1.

1. Domain List

<img width="966" alt="Screen Shot 2020-08-08 at 11 29 08 AM" src="https://user-images.githubusercontent.com/11034003/89714112-67d51500-d

[2020-08-08 17:06] SebastianZimmeck opened #59 "Start OptMeowt directly upon install"
As it currently stands, from a CCPA legal standpoint the installation of OptMeowt is an affirmative act to express the preference of globally opting out of the sale of persona. information. So, we no longer need to have the separate step of enabling OptMeowt. We can just remove it.

[2020-08-08 19:32] SebastianZimmeck commented on #38
One technically difficult point here may be that there may not be a general API to read response headers (see e.g., a [related thread](https://stackoverflow.com/questions/220231/accessing-the-web-pages-http-headers-in-javascript)). I guess at the worst we can have our own server and redirects etc.

(This point is equally relevant for issue #47, which is the same issue as this one accept for a succ

[2020-08-08 19:34] SebastianZimmeck commented on #47
One technically difficult point here may be that there may not be a general API to read response headers (see e.g., a [related thread](https://stackoverflow.com/questions/220231/accessing-the-web-pages-http-headers-in-javascript)). I guess at the worst we can have our own server and redirects etc.

(This point is equally relevant for issue #38 for a succesful opt out.)

[2020-08-10 16:15] kalicki1 commented on #45
**1st Commit Notes (`path` support & removed dev functions)**
The first of the two commits removed some of the export to files functionality for users' custom cookies I had begun to implement. These were in development so it is not a huge loss at the moment. The same commit also added a check for a `path` key when it parses a document for cookies (regardless of doc type format). This way we can ha

[2020-08-10 16:16] kalicki1 commented on #45
I think this closes up this issue fairly well. I will continue to debug after we merge this back into the master branch, though I think the main functionality here is done.

@SebastianZimmeck, I will open a pull request on branch #45.

[2020-08-10 18:44] SebastianZimmeck commented on #50
One very important point here is that there may be identifiers in cookies that are used by ad networks participating in the DAA tool to know which users to opt out. So, it is not only the opt out cookies (which are determining whether a user is opted out or not) but also the identifier cookies that OptMeowt needs to place. In principle, as OptMeowt upon first install is visiting all the sites of t

[2020-08-10 19:43] kalicki1 commented on #50
At the moment, OptMeowt isn't technically visiting each of the member DAA sites @SebastianZimmeck. OptMeowt has special permission, I believe by virtue of being a browser extension, to place those 3rd party cookies we have collected. I would be hesitant to say that those identifier cookies you mentioned are placed by the sites when the main opt out cookies are placed. This can be functionality we

[2020-08-10 20:02] kalicki1 commented on #56
I will work on this issue from within branch #58, since this is a broken down subset of what needs to be accomplished there.

[2020-08-11 03:35] SebastianZimmeck commented on #50
From my perspective, for the time being, it is OK to not include any identifier cookies (i.e., only include the opt out cookies). There may be some alternative tests to try:

- Place the opt out cookies with OptMeowt and visit the [DAA CCPA site](https://optout.privacyrights.info/?c=1) to see whether it shows that you are opted out
- The same approach but with the normal [DAA Do Not Track site](ht

[2020-08-12 20:38] kalicki1 opened #61 "Make sure OptMeowt can handle response headers [testing locally with, e.g., Postman]"
During our meeting today, @SebastianZimmeck brought up the possibility that OptMeowt might not be able to receive and handle response headers that servers would send in response to our Do Not Sell signals. This issue will be to test whether OptMeowt can handle response headers locally or if will we need to have some server to handle the responses instead. This relates to issue #47.

[2020-08-12 20:42] kalicki1 opened #62 "Test mechanism for syncing Do Not Sell signals across technologies"
This is an extension of our 'technology agnostic' Do Not Sell approach we began to implement in issue #56 and #58. Ideally, we would have all Do Not Sell signals stop sending immediately when a user chooses to bypass sending Do Not Sell signals to a specific company, including headers, first party cookies, and third party opt out cookies as well. Hence, we will need to delete those opt out cookies

[2020-08-12 20:46] kalicki1 commented on #54
@SebastianZimmeck, since we have implemented our custom headers and custom cookies functionality in issue #45, I feel that if a user chooses to implement 3rd party IAB cookies they could use our custom cookie YAML lists and update these IAB cookies there. In this case, this issue should be resolved. What are your thoughts on this?

[2020-08-12 20:48] kalicki1 commented on #59
I implemented this feature in issue #45 since it was a small technical detail. This issue should be all set.

[2020-08-12 20:48] #59 closed

[2020-08-12 20:53] kalicki1 opened #63 "Improve the popup window's Domain List UI elements"
Since working on updating our Domain List in issue #56, I noticed that the relationship between some aspects of the popup window UI elements is unclear. This issue will be to resolve these discrepancies.

- [x] Create a 'box' around the domain name and the `Do Not Sell Enabled` text and toggle to visually link the two together.
- [x] Add a link to the Domain List from within this box.
<del>- [ ] C

[2020-08-13 00:07] SebastianZimmeck commented on #54
@kalicki1, agreed! You are making a very good point here.

[2020-08-13 00:07] #54 closed

[2020-08-13 03:16] kalicki1 opened #64 "Add a Domain List `import` overwrite warning (UI)"
This is fairly self explanatory. The only work here will be finding an elegant way of displaying this warning to the user. This will be mostly UI work, since a regular alert will most likely work fine.

[2020-08-13 03:22] kalicki1 commented on #63
After rereading @SebastianZimmeck's comment about this on issue #58, I noticed he mentioned that issue #30 touched upon the changes I mentioned we add in this issue. I will keep this issue open as an ongoing list of technical changes that need to be made, as well as a place to spitball ideas on the UI changes we can make.

[2020-08-13 03:25] kalicki1 commented on #58
This is a great overview of the big picture tasks we need to do. I opened quite a few new issues that break down the remaining tasks and I will be closing them out one by one as they get wrapped up. Since many changes needed are small, many of these updates should be completed quickly and closed out quickly. We can keep this open for the time being as a reference, though I think I will be shifting

[2020-08-13 03:49] kalicki1 commented on #62
I added a first version draft of this functionality in a recent commit in issue #58. This function passes some simple tests I threw at it, but it will need to be fleshed out further here.

[2020-08-13 04:52] kalicki1 commented on #56
Most of the major functionality from this issue has been implemented in the most recent commits from branch issue #58. What's left was opened up in issue #62 and the few remaining things that could be added are optional UI elements. For the most part, I believe this issue can be closed and merged into the master branch.

[2020-08-13 05:56] kalicki1 commented on #57
@SebastianZimmeck, I uploaded a draft `About` page here. It might be a little bit verbose, let me know if you think we should shrink it down to, for example, just a list of links.

[2020-08-13 12:11] SebastianZimmeck commented on #64
Agreed. Let's have as little text as possible in the popup and other pages.

[2020-08-13 12:30] SebastianZimmeck commented on #57
I like the Q&A style.

Yes, making it a bit shorter and simpler would be good. Though, I do not think it should be just a list of links. But the language should be more to the point and less technical. Just one question and one answer sentence. E.g.,

Also, I do not think that we need to mention the landing page. It would work the other way around. People find the landing page and come to the exte

[2020-08-13 12:32] SebastianZimmeck commented on #56
Sounds good! Feel free to close whenever ready, @kalicki1.

[2020-08-13 17:46] #56 closed

[2020-08-13 18:37] kalicki1 commented on #57
I simplified the about page just a bit in the recent commit. @SebastianZimmeck let me know if there is anything else I should change, and I think we can merge this into the master branch.

[2020-08-13 19:18] SebastianZimmeck commented on #57
Sounds good. Feel free to open a PR. We can still make some smaller changes later on.

[2020-08-15 15:03] SebastianZimmeck opened #67 "Fix display of long domain names in popup"
Currently the popup only displays part of long domain names (per below the domain for OptMeow, for example). Ideally, we would like to break long domain names into multiple lines. If that is not possible, maybe truncated domain names.

<img width="346" alt="Screen Shot 2020-08-15 at 11 01 41 AM" src="https://user-images.githubusercontent.com/11034003/90315104-bba1aa00-dee6-11ea-9a14-89f683a519c2.p

[2020-08-15 15:17] SebastianZimmeck opened #68 "Add visual indicator in extension symbol that Do Not Sell request was sent and accepted (UI)"
Currently, we are counting the number of requests sent to the first and third parties upon visiting a website (see below). That is OK.

<img width="188" alt="Screen Shot 2020-08-15 at 11 05 13 AM" src="https://user-images.githubusercontent.com/11034003/90315198-88134f80-dee7-11ea-8c54-82c146cf50e0.png">

However, maybe we can do something like below to indicate that a Do Not Sell signal was sent (

[2020-08-15 15:19] SebastianZimmeck commented on #57
This seems done to me. Please reopen if necessary, @kalicki1.

[2020-08-15 15:19] #57 closed

[2020-08-15 15:21] SebastianZimmeck commented on #55
@kalicki1, this should be a quick one. Can you fix and close?

[2020-08-15 15:22] SebastianZimmeck commented on #46
Still relevant, @kalicki1? If so, please fix and close.

[2020-08-15 19:47] kalicki1 commented on #68
I have actually been toying around with this idea yesterday and created a rough version that adds a 'glowing ring' around the OptMeowt extension logo that indicates whether a signals was accepted or not. My initial thought was that if we send a signal but no response is received or the signal is rejected, then the logo would have a red 'glow,' and if our signal is sent and an affirming response is

[2020-08-15 19:50] kalicki1 commented on #68
I do like the idea of having a simple A or R with a green/red background colored badge though as well. Your mockups show that idea off well. The only thing is I'm not sure if we will be able to have two badges, one for `sent` and one for `accepted/rejected`, but I haven't looked into that yet.

[2020-08-15 21:42] SebastianZimmeck commented on #68
I think the glowing ring is a great idea! I like it better than the rectangles. It is more subtle, and I would find that clear.

It would need to be complemented with some intuitive explanation in the popup (a red writing maybe also some encircled saying Do Not Sell not accepted or something like that).

[2020-08-18 19:44] kalicki1 commented on #63
I have been working on how to update our popup window elements to reflect the changes we've made to the domain list and the changes we discussed about emphasizing the 1st party domain and its responses over the 3rd party connected domains. This idea relates to issue #68.

I uploaded a folder of some mockups in brach #63, under the `ui-mockup/Popup designs/` folder linked [here](https://github.com/

[2020-08-21 20:05] kalicki1 opened #69 "Communicating Do Not Sell confirmation thru UI (w/o responses)"
As discussed in our group call earlier today, we have decided to drop the requirement for publishers to respond to our Do Not Sell signal with a response. In lieu of this, let's think about how we can giver OptMeowt users some form of feedback that their signal was actually received and is respected, instead of just being sent to the void.

Two things we discussed in the call are:
- Maintaining an

[2020-08-28 16:31] #30 closed

[2020-08-28 16:39] kalicki1 commented on #34
We are currently thinking that we can close this issue and open a new general purpose issue regarding restarting this online syncing issue given we have made so many changes since this issue was first opened. Let's come back to this sometime this week and decide what to do with it then.

[2020-08-28 16:39] #34 closed

[2020-08-28 16:44] kalicki1 commented on #38
We discussed in our standards group to remove a direct response from our future specification, so we can close this issue for the time being. We can continue to discuss overlap regarding this issue in issue #47, though we will start to shift towards looking into using `.well-known` folders as a 'response,' as well as maintaining our own public company list of Do Not Sell responses.

[2020-08-28 16:47] #38 closed

[2020-08-28 16:55] #45 closed

[2020-08-28 18:56] kalicki1 opened #70 "Connect OptMeowt to reference Do Not Sell backend implementations"

[2020-08-28 18:58] kalicki1 commented on #46
Per our call today, we know we will be working on a landing page and extensive documentation for various Do Not Sell extension implementations. We can close this issue since it is being taken care of elsewhere.

[2020-08-28 18:58] #46 closed

[2020-08-28 19:04] kalicki1 commented on #47
Given that we are no longer discussing receiving Do Not Sell responses, we will open a new issue with regards to the possibility of handling 'responses' to show the user via `.well-known` folders.

[2020-08-28 19:04] #47 closed

[2020-08-28 19:07] kalicki1 commented on #50
Later today, I will double check that we have uploaded the correct cookies lists, upload them, and finalize this issue. That should be the remainder of the work necessary here.

[2020-08-28 19:12] kalicki1 commented on #55
Since the language has already been updated (especially with regards to the domain list language), we can close this issue.

[2020-08-28 19:12] #55 closed

[2020-08-28 19:16] kalicki1 commented on #58
Given that most of the issues here are resolved or have been implemented in other issues, we can close this one. We can refer back to this issue in the future as need be.

[2020-08-28 19:16] #58 closed

[2020-08-28 19:19] kalicki1 commented on #61
Since we have decided as a group to drop support for response headers and are opting for implementing `.well-known` folders as a 'response' solution, we can close this issue.

[2020-08-28 19:19] kalicki1 commented on #61
Note to self: Upload any outstanding code related to this issue!

[2020-08-28 19:19] #61 closed

[2020-08-28 19:26] kalicki1 commented on #63
This issue should be all set at this point in time.

[2020-08-28 19:31] kalicki1 commented on #67
The main functionality should be uploaded above, though I will double check my locally saved code to see if there any further updates that weren't finalized when I was working on this issue. Once I upload those, this issue should be closed.

[2020-08-28 19:35] kalicki1 commented on #68
Given we have decided to drop HTTP responses in our spec and the UI is implemented here, I will upload the local code I have on my machine and close this issue. Then we can open a new issue regarding changing the extension and publisher backends to work with `.well-known` folders instead of responses.

[2020-08-28 19:38] kalicki1 commented on #69
Given that we are discussing different forms of saving responses elsewhere, we can close this issue.

[2020-08-28 19:38] #69 closed

[2020-08-30 01:21] SebastianZimmeck commented on #70
I created various stubs for backends using web frameworks that can be used to implement [SPOC](https://github.com/darobin/spoc):

https://github.com/privacy-tech-lab/django-reference-project
https://github.com/privacy-tech-lab/express-reference-project

Whatever API is exposed there in the end, needs to be connected to OptMeowt. So we need to work from both sides --- the web server and the OptMeow

[2020-08-31 16:44] kalicki1 commented on #63
**Note on the above commit**
I just uploaded the remaining bits of code I had began to write in order to incorporate some visual elements that reflect the Do Not Sell response status of a given site, according to the response headers OptMeowt receives from a request. Since we have decided we will drop support for response headers, these changes are commented out but left in the code in this issue

[2020-08-31 19:38] kalicki1 commented on #68
It looks like the implementation for this issue was taken care of in branch issue #63. We should be all set to close this out.

[2020-08-31 19:38] #68 closed

[2020-08-31 20:42] kalicki1 commented on #63
Taking a secondary glance at the code, I realized a few things were not quite finalized the way they should have been, and I reopened the issue to make note of them and push those changes. The only thing left to do at this point is to link the `Do Not Sell Request: SENT` notification in the popup with the actual request headers. Because of this I will keep the issue open.

[2020-09-01 18:41] SebastianZimmeck commented on #67
@asalia-1 is suggesting to not show the domain in the popup if there is no real URL (like extension IDs, localhost, ...). Technically, this is the case when no Do Not Sell signal should be sent. When the URL is parsed for the URL and the domain returns null, these are the cases where this should not be shown.

[2020-09-01 19:56] asalia-1 commented on #67
Worked with Kuba to remove  `send do not sell` switch and domain as discussed when url does not connect to resource on web
(for example chrome://extensions). See the photo below to show what that looks like.

![dns-removal](https://user-images.githubusercontent.com/44120238/91899309-f176ba80-ec6a-11ea-8c1d-18376d59fd2d.jpg)

**NB:** The responses section in the pop up will be updated once this iss

[2020-09-07 15:34] SebastianZimmeck commented on #67
@asalia-1, please close this issue if this is resolved now (or write what is still outstanding).

[2020-09-08 04:05] #67 closed

[2020-09-08 18:26] #39 closed

[2020-09-08 18:27] SebastianZimmeck commented on #50
One final outstanding issue is to upload the updated list of DAA cookies from the WPES paper. Once that is done, this issue can be closed.

[2020-09-08 18:29] SebastianZimmeck commented on #63
At the moment, "sent" is checked even though a signal was not sent. @kalicki1 will fix this and then close this issue.

[2020-09-11 01:23] SebastianZimmeck commented on #70
Once the smaller issues are out of the way that we discussed earlier this week, this issue is the most important one. Essentially, we can mirror DuckDuckGo's solution:

1. [Frontend code](https://github.com/duckduckgo/duckduckgo-privacy-extension/compare/dharb/do-not-sell) to be included in the [DuckDuckGo Privacy Essentials extension](https://chrome.google.com/webstore/detail/duckduckgo-privacy-e

[2020-09-13 13:21] SebastianZimmeck opened #73 "Update DAA cookie list"
As the [DAA Opt Out Tool](https://optout.privacyrights.info/?c=1) may change its cookies from time to time, we have to update the DAA cookie list on our end as well.

(cc'ing @asalia-1)

[2020-09-15 05:37] kalicki1 commented on #50
I pushed the updated list from our WPES paper to the `cookies_3p.yaml` file we keep for our DAA cookies. This issue should be all set.

[2020-09-15 05:37] #50 closed

[2020-09-16 01:04] kalicki1 commented on #63
I have been working on this issue for a while, though it is still not finalized yet. Here is what I am thinking we do at the moment:

Currently the new UI for the popup is only in this branch and has not yet been merged into the main branch. What I'm thinking is that we merge the current changes, and focus this issue after the merge specifically into making the signals receipts work. What is left

[2020-09-16 01:10] kalicki1 opened #74 "Update OptMeowt to work with the GPC spec"
This issue will be a catch all for updating OptMeowt to work in conjunction with the Global Privacy Control spec. This includes:

- [ ] Add support for the GPC header
- [ ] Add support for the GPC DOM signal
- [ ] Add support for `.well-known/GPC` folders

[2020-09-16 01:11] #74 closed

[2020-09-16 01:14] kalicki1 commented on #70
I opened a new issue for this accidentally, but I will work on this here. Three things I want to work on implementing are support for:

- [ ] GPC header
- [ ] GPC DOM signal
- [ ] `.well-known/GPC`

[2020-09-16 01:44] SebastianZimmeck commented on #63
Sounds good, @kalicki1. Though, please try to resolve this issue fairly soon (after you have done #70?). Let's try to avoid having too many open issues. Otherwise, nobody knows anymore what they were about.

[2020-09-16 13:03] SebastianZimmeck commented on #32
@asalia-1, please finish this by our meeting next week.

[2020-09-16 13:03] SebastianZimmeck commented on #64
@asalia-1, please finish this by our meeting next week.

[2020-09-16 13:04] SebastianZimmeck commented on #11
Bonus: @asalia-1, please finish this by our meeting next week.

[2020-09-21 16:47] SebastianZimmeck opened #75 "Revise copyright in all source files"
Currently, the copyright text is not up to date. In particular, we want to add @asalia-1.

[2020-09-22 18:10] SebastianZimmeck commented on #70
@kalicki1 is describing that the use of the `fetch` API in OptMeowt causes a loop that keeps requesting data from the `.well-known` API. Maybe, this can be resolved with the general issue here (#11); maybe also not. @kalicki1 and @asalia-1 will look into this.

[2020-09-22 18:39] SebastianZimmeck commented on #32
@asalia-1, will change the color of the popup (uniform with other OptMeowt colors). Also, the overlay darker while popup is being shown.

[2020-09-22 18:40] SebastianZimmeck commented on #32
Also, reduce to maybe three in the settings and one in the popup.

[2020-09-22 18:46] SebastianZimmeck commented on #11
Let's exclude image types and err on the side of rather sending one Do Not Sell signal too many as opposed to omitting one that should have been sent.

[2020-09-22 19:16] SebastianZimmeck opened #103 "Adding a feedback mechanism"
A possible feature of the landing page is a feedback mechanism for reviews, etc.

[2020-09-22 19:59] SebastianZimmeck opened #77 "Add visualization in OptMeowt extension icon"
We would like to indicate to the user that OptMeowt is actually working and doing something. Perhaps an easy way, for the time being, could be to add a little green circle to the extension icon if a Do Not Sell signal has been sent. Counting the number of signals sent similar to an ad blocker showing a counter for the number of ads blocked could be an alternative. This feature is largely a usabili

[2020-09-23 04:11] #63 closed

[2020-09-25 08:20] #64 closed

[2020-09-26 01:40] kalicki1 commented on #70
I just pushed some initial code that checks for a website's `.well-known\GPC` at the requested URLs origin. We can make this check more frequent, or even for each request, though I didn't think that would be necessary in this version. For now, if the `.well-known\GPC` exists, it is printed to the console.

[2020-09-26 01:41] kalicki1 commented on #70
Given that the main functionality this issue was about has been implemented, I think we are free to open a pull request on this issue. This will help us finalize our code for an initial Chrome Web Store launch, as @SebastianZimmeck mentioned earlier today.

[2020-09-26 06:54] asalia-1 commented on #11
We are filtering image type HTTP requests and we are not attaching dns headers to them on interception

[2020-09-26 06:54] #11 closed

[2020-09-26 14:10] SebastianZimmeck commented on #70
Excellent! Feel free to go ahead once you are ready.

[2020-09-27 00:48] SebastianZimmeck commented on #70
@kalicki1, can you close this issue when it is done?

[2020-09-27 01:11] SebastianZimmeck opened #81 "Publish OptMeowt in the Chrome Web Store"
I started the publication process in the Chrome Web Store. Here is the [prerelease version](https://github.com/privacy-tech-lab/optmeowt-browser-extension/releases/tag/v0.1-alpha) that I submitted to the Store as of your latest commit, @kalicki1.

@kalicki1, can you provide some missing info on the [permissions](https://developer.chrome.com/extensions/declare_permissions) that we are using? Also,

[2020-09-28 14:47] asalia-1 commented on #32
![popup2](https://user-images.githubusercontent.com/44120238/94447216-8dff8000-0177-11eb-8b1a-58e03cd17368.png)

There are 3 popups of such nature with overlay effect upon install to show user important sections on the options page.

![popup1](https://user-images.githubusercontent.com/44120238/94447299-9bb50580-0177-11eb-95e2-2c7113ca624e.png)

This shows up in the popup on after the very first in

[2020-09-28 14:56] SebastianZimmeck commented on #32
OK, what is the text for the remaining two notifications?

Could you change the following?
"Set your domain list preferences here" to "Set which sites should receive a Do Not Sell signal."
"Toggle this to enable/disable OptMeowt for this site" to "Toggle this switch to enable or disable sending Do Not Sell signals."

Also, they should only show up once after installing OptMeowt. Is that the case?

[2020-09-28 17:51] SebastianZimmeck commented on #32
@asalia-1, please push to an issue-32 branch what you have so far.

[2020-09-28 20:08] asalia-1 commented on #32
![popup3](https://user-images.githubusercontent.com/44120238/94480620-902c0380-01a4-11eb-8ff8-534342176ff0.png)

![popup4](https://user-images.githubusercontent.com/44120238/94480629-94582100-01a4-11eb-92b1-5a0c016baaa5.png)

These are the two extra popups in this walkthrough. Also, this happens just once on install for both the options page and the popup page as expected.

[2020-09-28 20:10] asalia-1 commented on #32
I have created a pull request for this feature, all that is left to confirm is the content of the popups

[2020-09-28 20:47] #70 closed

[2020-09-29 00:09] SebastianZimmeck opened #84 "Improve tutorial notifications"
@kalicki1 [mentioned](https://github.com/privacy-tech-lab/optmeowt-browser-extension/pull/82#pullrequestreview-497975801) two improvements for the tutorial notifications:

[2020-09-29 02:47] kalicki1 commented on #81
Yes, it looks like what you wrote was spot on! The other two permissions you mentioned you weren't sure about are both necessary:

1. We're using `webRequestBlocking` as an extension of `webRequest` because we need to be able to pause each request to ensure our Do Not Sell signals are actually attached to each request.
2. The host permission is just what Google calls the `<all_urls>` URL pattern m

[2020-09-29 02:53] SebastianZimmeck commented on #81
Excellent! Thanks, @kalicki1. I will update that info on the Chrome Web Store, and we are on our way ...

[2020-09-29 02:58] kalicki1 commented on #81
Sounds good, @SebastianZimmeck! I hope the host permission doesn't slow down the processing time, it looks like they say they review those extensions that use it more closely. I'm trying to look up a way to avoid using the `<all_urls>` URL pattern permission, but fundamentally the API we use to pause outgoing requests requires a URL pattern that isn't too easy to modify. These are the `webRequest.

[2020-09-29 03:04] SebastianZimmeck commented on #81
OK, that is good. I am not sure if there is a way around the host permission. If it does not get reviewed in time, we just can link to link to the unpackaged version of OptMeowt for the time being.

[2020-09-29 03:53] SebastianZimmeck commented on #81
OK, I have not submitted yet. The review may take up to a [few weeks](https://developer.chrome.com/webstore/faq#faq-listing-08) (apparently because of the host permission).

Here is some info Google showed me to avoid the host permission and speed up the review. I am leaving this issue open for the time being, and we can discuss tomorrow. Not sure if just the activeTab permission would work for us

[2020-09-29 17:31] kalicki1 commented on #77
For the time being, as you mentioned @SebastianZimmeck, I pushed some code that will change the default "no ring" OptMeowt icon to one with a "glowing green ring" when we send at least one Do Not Sell request to an active tab. This current implementation does not differentiate between between 1st party or 3rd party connections, just as long as at least one signal is sent, the icon turns green. As

[2020-09-29 17:31] kalicki1 commented on #77
I think I am satisfied with this implementation for now, and if we want to get fancier with what the green status represents we can do so at a later date. Let me know if you have any other thoughts @SebastianZimmeck, but otherwise I think we can merge and close this issue.

[2020-09-29 17:35] kalicki1 commented on #32
Since we merged this branch, I think we should be all set to close this issue.

[2020-09-29 17:35] #32 closed

[2020-09-29 19:09] SebastianZimmeck commented on #77
Sounds good! Feel free to close whenever you think it is good.

[2020-09-29 20:04] #77 closed

[2020-09-30 04:55] kalicki1 commented on #81
I have been messing around with these permissions for a short while but it doesn't seem like there's an easy way to avoid using the host permission with the WebRequest API. I think my recommendation for now would be to submit our extension to the Chrome Web Store and have them review it as it stands right now, @SebastianZimmeck. It might be more hassle than its worth trying to find any other kind

[2020-09-30 12:53] SebastianZimmeck commented on #81
OK, sounds good. I submitted OptMeowt for review as is. Will keep you updated ...

[2020-09-30 12:53] #81 closed

[2020-10-06 14:10] SebastianZimmeck opened #86 "Update readme as to Chrome Web Store link, files, folders, libraries, etc. used in this repo"
It seems to me the readme is a bit out of date in terms of the files, folders, libraries, etc. used in this repo. It would be good if you could update it, @kalicki1.

[2020-10-06 18:23] kalicki1 opened #87 "Explore easy user install options"
In our meeting today, @SebastianZimmeck and I discussed ways to simplify how users install OptMeowt given that we are not on the Chrome Web store at the moment. Potentially we could:

- Find an alternative "web store"
- Create a packed release
- Reorder the `readme` so its easier to see how to install

[2020-10-06 18:24] SebastianZimmeck commented on #86
Maybe, put the install instruction at the beginning.

[2020-10-06 18:32] kalicki1 opened #88 "Purchasing a domain"

[2020-10-06 18:46] kalicki1 opened #89 "Update Chrome Web Store Info"

[2020-10-06 18:59] SebastianZimmeck opened #90 "Redirect to landing page upon installation of the extension"
Similar as for DuckDuckGo Privacy Essentials redirect to a [site](https://duckduckgo.com/app?post=1&atb=v241-7) after installation. Either a dedicated site or just our normal landing page.

[2020-10-06 19:05] #87 closed

[2020-10-07 02:53] SebastianZimmeck commented on #89
As discussed today, we need a few promotional images (video is not necessary; not sure what the promo tiles are and whether we need them; definitely we want the five screenshots) for OptMeowt's site on the Chrome Web Store. Here are the specifications.

<img width="603" alt="Screen Shot 2020-10-06 at 10 43 12 PM" src="https://user-images.githubusercontent.com/11034003/95281566-81d58b80-0825-11eb-8

[2020-10-07 02:55] SebastianZimmeck commented on #86
The readme should also include a prominent link to the [Chrome Web Store page of OptMeowt](https://chrome.google.com/webstore/detail/optmeowt/hdbnkdbhglahihjdbodmfefogcjbpgbo).

[2020-10-07 02:58] SebastianZimmeck commented on #84
A few improvements we discussed:

- Upon install redirect to landing page (issue #90)
- Right-align text in notifications or display as block (as opposed to centered)
- Have a brief welcome in the first notification ("Hello there, so glad you are here!" or something like that)
- Have a "spotlight" on the current item the notification is pointing to. Otherwise, everything looks sort of inactive.

[2020-10-07 11:59] SebastianZimmeck opened #92 "Opt out signal not detected on GPC landing page"
It seems that the [landing page](https://globalprivacycontrol.org/) does not detect OptMeowt's GPC signal. When I visit it (on the current Brave browser with ad blocking turned off), I am seeing the following.

<img width="475" alt="Screen Shot 2020-10-07 at 7 55 47 AM" src="https://user-images.githubusercontent.com/11034003/95327790-92602300-0872-11eb-8154-c318f3510f40.png">

Probably, @kalicki1

[2020-10-07 12:00] SebastianZimmeck commented on #90
@asalia-1 feel free to close if that is all.

[2020-10-07 12:52] SebastianZimmeck commented on #92
Not sure, possibly @dharb could also provide some info where the issue may be.

[2020-10-07 13:08] SebastianZimmeck commented on #88
Moving this issue to the landing page repo.

[2020-10-07 13:19] asalia-1 commented on #90
Made changes to redirect user to OptMeowt landing page on install for now. I will consider possibility of having dedicated page for this as well and open a new issue if need be.

[2020-10-07 13:19] #90 closed

[2020-10-07 13:23] SebastianZimmeck commented on #84
The green halo of the extension icon in the browser bar that @kalicki1 implemented looks really cool. Perhaps, there is a way that the notifications also explain (and point to the halo) saying that the green color means that a signal was sent. Not a hugely important issue but would be nice to explain somewhere (or maybe not, do a la Snap and let users find out).

[2020-10-07 13:26] SebastianZimmeck commented on #89
Because of the launch of GPC today, I would say, this is the most high priority issue on your plate at the moment, @asalia-1.
So, if you work on something, try to make progress here.

[2020-10-07 14:10] dharb commented on #92
Right now that indicator is just checking if the DOM signal is set, we punted on hooking up a header check until post launch due to time crunch. Eg `if (navigator.globalPrivacyControl) { success }`. OptMeowt must not be setting that signal, see https://gist.github.com/dharb/15bb3888c258d15cf96efec9b72dd605#setting-the-dom-signal for approach.

[2020-10-07 14:16] dharb commented on #92
@SebastianZimmeck @kalicki1 if you just change [this line](https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/master/src/dom.js#L2) to use `navigator` instead of `window` it should fix things. Two things to keep in mind though:
- You should wrap `Object.defineProperty...` in a try catch block. If that property has already been set by a different extension with `writable: false` th

[2020-10-07 14:50] asalia-1 commented on #89
![Component 1](https://user-images.githubusercontent.com/44120238/95347367-cba48d00-088a-11eb-89ee-75bc15c1ecf0.png)
![Component 2](https://user-images.githubusercontent.com/44120238/95347385-cfd0aa80-088a-11eb-913f-52fe2e409037.png)
![Component 3](https://user-images.githubusercontent.com/44120238/95347388-d3643180-088a-11eb-939a-e537facf277b.png)

[2020-10-07 14:52] asalia-1 commented on #89
Hi @SebastianZimmeck , these are some screenshots I prepared for the web store.

[2020-10-07 15:32] kalicki1 commented on #92
@dharb good catch, I updated the `navigator` line our code base. I will take a look at updating the other things you brought up as well, they are great suggestions.

The only thing I'm worried about now is that even with the `navigator` change, the landing page seems to recognize our DOM signal when I open a new tab and visit the site, though subsequent refreshes seem to kick it back to not recogn

[2020-10-07 16:12] asalia-1 commented on #89
All screenshots have been set to appropriate size. With approval of content, I will go ahead to update screenshots and store icon on chrome web store. I will then proceed to work on promo tiles

[2020-10-07 16:40] SebastianZimmeck commented on #89
Thanks, @abdallah. The icon is not quite aligned. Also, per the guidance from Google I mention above there should be some whitespace. I think I have to post the screenshots and other items because there is no good way to share the Chrome Web Store account without sharing my personal password. Please go ahead with the promo tiles. I will update everything later today after teaching.

[2020-10-07 18:36] dharb commented on #92
@kalicki1 I just took a look and it appears that you're injecting the content script in the `addHeaders` function, which is being called by the `chrome.webRequest.onBeforeSendHeaders` listener: https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/master/src/background.js#L221. Maybe try injecting the dom signal using `chrome.webNavigation.onCommitted` instead?

[2020-10-07 22:47] asalia-1 commented on #89
I reviewed language on screenshots together with @kalicki1 and created a pr to upload those assets. I am collaborating with him on some ideas for what we can use for promo images as well

[2020-10-08 00:24] asalia-1 commented on #89
Options for promo images

Large Promo Tile:
![optmeowt-promo-440-1](https://user-images.githubusercontent.com/44120238/95400853-b99e0b00-08d9-11eb-8e92-09279fde52ba.png)

Small Promo Tile
![optmeowt-promo-440-2](https://user-images.githubusercontent.com/44120238/95400870-c4f13680-08d9-11eb-95a2-9cce49c020ff.png)

[2020-10-08 00:26] asalia-1 commented on #89
All assets have been uploaded in this [pull request ](https://github.com/privacy-tech-lab/optmeowt-browser-extension/pull/93)with appropriate requirements

[2020-10-08 01:47] SebastianZimmeck commented on #89
Thanks, @asalia-1. I added two promo tiles and submitted everything for review. The instructions said no alpha, which your screenshots actually had. I still submitted. If it comes back, we have to fix it.

[2020-10-08 01:47] #89 closed

[2020-10-08 05:17] kalicki1 commented on #7
As mentioned in issue #92 by @dharb,

The xray discussion was here for reference: [Setting the DOM Signal](https://gist.github.com/dharb/15bb3888c258d15cf96efec9b72dd605#setting-the-dom-signal).

It might be worthwhile to come back to this issue and fix up OptMeowt for Firefox and other browsers sometime soon given that we have progressed much farther than where we were when we first opened this i

[2020-10-08 13:38] SebastianZimmeck commented on #92
Very nice work, @kalicki1! The signal is now detected on the [site](https://globalprivacycontrol.org/). I released a new version v1.0.1 with this bug fix and submitted it to the Chrome Web Store as well. It should be up there soon.

Thanks a bunch, @dharb!

[2020-10-08 13:38] #92 closed

[2020-10-08 13:40] SebastianZimmeck commented on #7
Good point, @kalicki1. Let's discuss when we meet next week.

[2020-10-08 14:00] SebastianZimmeck commented on #84
A few improvement suggestions:

- Change from "Save your preferences and upload them using this section." to "Import and export your customized list of sites that should receive a signal."
- Change "Toggle this to change color theme of the extension" to "Toggle this switch to change the color theme of OptMeowt."
- Let's keep the green halo a bit mysterious and not explain it.
- After the last noti

[2020-10-08 15:13] asalia-1 commented on #84
I will add a notification before then tutorial along the lines of "Welcome to OptMeowt"  and a notification after the tutorial along the lines of "Enjoy using OptMeowt" to make it a bit more lively and work on adjusting the language as well. I will add buttons to the pop ups so it's clear how to close popups and move from one popup to the other

[2020-10-08 15:37] SebastianZimmeck commented on #84
Sounds good!

[2020-10-08 18:33] SebastianZimmeck opened #94 "Prepare featured launch of OptMeowt"
As we just discussed with @asoltani, we will have the various browser and extension launches featured on Twitter, at which point the extension and landing page should be polished. There is nothing concretely to do at this point. I am opening this issue in case there are any launch-specific things that we should discuss.

[2020-10-11 22:09] dknopf opened #95 "Duplicate GlobalPrivacyControl Script Tags"
Not sure how serious this is/why it's happening, but whenever I inspect element on a site with optmeowt on, I always found dozens of instances of the script tag defining the GlobalPrivacyControl property. More instances of the tag are added as I watch, but after a few seconds they seem to stop being added. It happens on every site I visit. I'm on version 1.0.1 of the extension.

![image](https://u

[2020-10-11 22:25] SebastianZimmeck commented on #95
Good find. @kalicki1, do you know?

[2020-10-12 19:04] asalia-1 commented on #84
![image (12)](https://user-images.githubusercontent.com/44120238/95781273-74902500-0c9b-11eb-87ba-12d68f9b010e.png)
![image (13)](https://user-images.githubusercontent.com/44120238/95781599-2a5b7380-0c9c-11eb-8417-a033782f98f3.png)
![image (10)](https://user-images.githubusercontent.com/44120238/95781288-7eb22380-0c9b-11eb-9b51-e4f8ebd1c16c.png)
![image (9)](https://user-images.githubusercontent.c

[2020-10-12 19:05] asalia-1 commented on #84
This is a basic outline of what mini tutorial looks like. Image on welcome modal is a bit off but I will fix that by end of day.

[2020-10-12 19:21] SebastianZimmeck commented on #84
If you are asking "Would you like to have a quick walkthrough?", there should be an option "Not now." Otherwise, it is bit pointless to ask and not a great user experience.

Also, instead of "OptMeowt extension has been installed" I would prefer "OptMeowt has been installed".

[2020-10-12 20:39] SebastianZimmeck commented on #94
Seems we have not discussed anything.

[2020-10-12 20:39] #94 closed

[2020-10-12 20:40] SebastianZimmeck commented on #84
@asalia-1, let's have this finished by tomorrow.

[2020-10-12 21:09] asalia-1 commented on #84
Sounds good

[2020-10-13 04:38] kalicki1 commented on #95
This shouldn't be the case anymore since I implemented the `chrome.webNavigation.onCommitted` call Dave recommended we use instead in issue #92.

[2020-10-13 18:30] #95 closed

[2020-10-13 19:15] asalia-1 commented on #84
Created a pr to open options walkthrough on install and left-align pop-over content

[2020-10-13 19:15] #84 closed

[2020-10-14 19:40] SebastianZimmeck commented on #86
@asalia-1, this is a good issue for you to do. Let me know if you have any questions.

[2020-10-14 19:45] SebastianZimmeck commented on #86
For example, what is the node server directory used for? Does anyone know? Maybe, it can be deleted.

[2020-10-14 19:47] SebastianZimmeck commented on #86
Maybe, it also serves a purpose, in which case it should be listed and briefly described in the readme.

[2020-10-14 19:49] asalia-1 commented on #86
Understood, just by looking at it I am not entirely sure what it's purpose may have been. A wild guess is that it was @kalicki1 's attempt at implementing a mock server. In any case I will cross check with him to see if we need it or not

[2020-10-14 20:44] SebastianZimmeck commented on #75
Done.

[2020-10-14 20:44] #75 closed

[2020-10-15 17:30] SebastianZimmeck commented on #7
@kalicki1 and @asalia-1 will look into how difficult it is to port OptMeowt to Firefox and also how the code can be organized (e.g., in the same repo, in different repos, with Git submodules). There is certainly a common codebase. What is the best way to handle it and keep the different versions in sync.

[2020-10-19 01:43] asalia-1 commented on #86
Updated ReadMe with a link to landing page and Chrome Web Store. I also removed unnecessary node server directory and updated directory list with new files.

[2020-10-19 01:43] #86 closed

[2020-10-19 16:44] asalia-1 commented on #7
### To make our extension compatible across firefox, these are the key things we need to focus on in our codebase:

**Manifest.json keys** :-  There are some manifest.json keys that are not compatible with both Firefox and Chrome but luckily, most of them are compatible across both platforms. Currently, the keys in the manifest.json file is compatible accross both platforms however, there are some

[2020-10-19 17:34] SebastianZimmeck commented on #7
That is good! I would say, from a practical perspective, another strategy is to run OptMeowt in its current form in Firefox and check in the Developer console where errors are occurring. Then, incrementally address those (checking again where errors are occurring once you you fixed an error).

WebExtension browser API Polyfill library to make the extension compatible with Chrome.

I am a bit hesit

[2020-10-20 00:05] dknopf opened #102 "Add a way to say how many sites we have blocked from selling your data, etc"
It could definitely be nice to say "7,900 sites blocked from selling your data!" or something like that somewhere, just so that the user knows the extension is doing something. Right now it's a bit hard to tell if the extension is having any effect so something like this could potentially be reassuring. Maybe this could be in the popup somewhere.

[2020-10-20 00:13] SebastianZimmeck commented on #102
Excellent idea! For example, in Brave I am seeing the below. Maybe, we can add something similar.

<img width="584" alt="Screen Shot 2020-10-19 at 8 11 49 PM" src="https://user-images.githubusercontent.com/11034003/96524898-7b90d780-1247-11eb-86d4-2222199fb88b.png">

[2020-10-20 17:14] SebastianZimmeck commented on #7
I confirmed with DuckDuckGo that their [Privacy Essentials Extension](https://github.com/duckduckgo/duckduckgo-privacy-extension) is based on the same codebase for Chrome and Firefox. They are doing some checks in the code whether it runs on Firefox and, if necessary, run some other APIs that may not be compatible with Firefox. The only other thing is separate build tasks that slightly rearrange w

[2020-10-20 19:34] SebastianZimmeck commented on #102
As we discussed today, the idea is to implement a tracker of how many unique domains have received a Do Not Sell signal. Counting the domains, as opposed to the individual requests sent, appears to make more sense as it is enough for a site to receive one request for Do Not Sell to be effective. The counter can be shown in the popup or on the settings page. @asalia-1 will be on the lead on this on

[2020-10-20 19:41] SebastianZimmeck commented on #7
@dharb was so kind to offer some pointers in this thread on how DuckDuckGo went about the creation of a codebase that works for both Chrome and Firefox. @kalicki1 already started the work and will give @asalia-1 access to the code and potentially a diff.

[2020-10-20 19:42] SebastianZimmeck commented on #73
We will update the cookie list from time to time, possibly, the next time in a few months as part of our paper publication.

[2020-10-20 19:55] SebastianZimmeck commented on #103
@dknopf will add a feedback mechanism/communications channel to our OptMeowt extension. Possibly, data storage can be implemented via Firebase/Firestore. The purpose is threefold:

1. Receiving user feedback to improve OptMeowt or testimonials how users like OptMeowt
2. Soliciting users for our research study or even conducting the research study via OptMeowt (in the first case, we could link to a

[2020-10-20 20:25] SebastianZimmeck opened #104 "Add functionality to detect a site's .well-known.gpc.json response and add some visual"
As @dknopf mentioned in our discussion today, we may want to display a site's response to receiving a Do Not Sell signal as the site expresses it in its `.well-known.gpc.json` file. Essentially, this means to check for every site visit whether there is something available at www.example.com/.well-known.gpc.json. If so, retrieve that content and display it in OptMeowt. There are various points this

[2020-10-23 23:53] dharb commented on #7
Apologies for the delay here, busy week.

As you guys already mentioned, Firefox and Chrome web extensions are quite similar but there are some slight differences, especially around the build process. I'm going to link you to some files that we use for our extension and give a brief overview of what they're doing, then I think you would probably learn the fastest by cloning our extension repo, run

[2020-10-24 02:51] asalia-1 commented on #7
Thanks @dharb ! This is very helpful

[2020-10-24 16:18] SebastianZimmeck commented on #7
Indeed, thank you, @dharb! At the moment, we are not using any build process. However, as I understand that this process is the basis for creating the different versions of the extension, this seems to be the route for us as well.

@asalia-1, can you make some headway on this by Tuesday?

@kalicki1, does the general approach via the build process fit into what you have done so far above?

[2020-10-24 18:59] asalia-1 commented on #7
Making changes to the manifest file and conditionally calling functions depending on the browser user agent is straight forward and I can get that done over the weekend. Currently we do not have npm/grunt integrated with our extension so that will be a bit of unknown territory pertaining the build process but I will reach out to David if I have any questions about that.

[2020-10-24 19:01] SebastianZimmeck commented on #7
@asalia-1, great! Feel free to open additional issues (if you think it is warranted; otherwise, just working in this one is fine as well).

[2020-10-27 18:22] SebastianZimmeck commented on #7
Please feel free to close this issue, @asalia-1.

[2020-10-27 18:25] SebastianZimmeck opened #106 "Use NPM to manage packaging (and possibly build process)"
Explore and implement how to package (and build) our extension. We also want to document in a section of the readme how to do it.

[2020-10-27 18:34] SebastianZimmeck commented on #104
As @kalicki1 suggested, we may want to have the icon fully green for half a second or something like that. In addition, maybe some explanation or visual or UI design element in the popup to explain what the fully green icon means.

[2020-10-27 18:41] SebastianZimmeck commented on #62
I think this code can be merged and test for Firefox but as @kalicki1 said, it may be worth to add a tag as the first Firefox version of the code (possibly, not a release version, but I am also fine with a release version).

[2020-10-27 18:44] SebastianZimmeck commented on #7
@kalicki1 will look into the [semantic versioning](https://semver.org/) for the new Firefox-included version.

[2020-10-28 00:37] SebastianZimmeck commented on #7
We have a privacy-tech-lab account on https://addons.mozilla.org/en-US/firefox/ now to publish the packaged extension.

[2020-11-04 04:51] kalicki1 commented on #7
I updated the tag for our first Firefox-compatible release as `v1.1` based on our discussions and the semantic versioning @SebastianZimmeck mentioned. Given that we have resolved this issue, and that we will most likely discuss releasing to the Firefox addons site soon, I will go ahead and close this issue.

[2020-11-04 04:51] #7 closed

[2020-11-04 05:06] #62 closed

[2020-11-04 11:25] asalia-1 commented on #106
Integrated OptMeowt with npm to manage dependencies and grunt to automate the build process. Grunt is a task runner which is being used to carry out build operations. Currently, we are using grunt to compile relevant files needed from node_modules. The ground work has been laid to automate more parts of the build process using Grunt when the need arises. This task is done. I performed manual tests

[2020-11-04 16:03] kalicki1 opened #109 "3rd party domains are not all enabled on fresh site visit"
As discussed in our meeting, we noticed that on a clean browser install, our popup seemed to show that certain third party domains on the NYTimes site were not shown as enabled (in other words, the checkmark was not checked). Let's use this issue to resolve this problem.

[2020-11-04 16:05] asalia-1 commented on #106
Next step is to have a testing party with @kalicki1 to ensure there are no loopholes or breakdown in functionality.

[2020-11-04 17:03] SebastianZimmeck opened #110 "Fix anything outstanding for Firefox release"
As @kalicki1 and @asalia-1 explained there may be one or the other minor issue or testing task to be done for our Firefox release. I am opening this issue as an omnibus issue of sorts for all those tasks. @kalicki1 is in the lead on this one and will confer with @asalia-1.

[2020-11-04 17:05] SebastianZimmeck opened #111 "Update Readme"
@asalia-1, it would be great if you could update the readme as we discussed:
- Moving the developer section below the unpackaged install instructions
- Have the privacy-tech-lab logo as the last item on the readme
- Include new files and directories (and remove old ones, if any)

[2020-11-04 17:11] SebastianZimmeck opened #112 "Fix Dependabot alerts"
@asalia-1, @kalicki1, and @dknopf, I changed your permissions such that you should now can view the Dependabot alert. It would be good if you could fix those, @asalia-1. They do not necessarily need to be all implemented (although, if there is no version conflict or other breakage, such implementation would be my preferred choice). However, take a look at each of those going forward and make a cal

[2020-11-04 18:34] asalia-1 commented on #112
Sure thing. And I will keep an eye out for future alerts

[2020-11-10 19:41] SebastianZimmeck commented on #106
@kalicki1 will look at this and close if nothing remains to be done (maybe, there is something to do related to Firefox (issue #110).

[2020-11-12 15:55] #111 closed

[2020-11-16 22:48] asalia-1 commented on #112
Looked into the security risks associated with the dependencies that were flagged and found the risk involved is tolerable for our use case thus we can safely ignore these alerts. I will keep an eye out for any of these alerts going forward and analyze them case by case to make sure they do not cause issues.

[2020-11-16 22:48] #112 closed

[2020-11-17 17:46] kalicki1 commented on #106
@asalia-1 has been working on this issue and mostly finalized it. We implemented these changes into our Firefox release, which we should be ready to push to the Firefox add-ons store this week. However, I do think it is worthwhile to keep this issue open for another week or so so that we can fix one more library that was giving us some trouble.

[2020-11-17 17:47] asalia-1 commented on #110
We worked on a fix for the popup to get rid of scroll bar in the popup when rendering in Firefox. We also fixed a bug in the options page that was causing inability to switch to the domainlist and about page due to one library. After fixing theses bugs, we tested manually to make sure core functionality for Firefox works as it should.  Current version in master is Firefox ready

[2020-11-17 19:53] kalicki1 commented on #110
As @asalia-1 mentioned, we finalized our work for the Firefox release as planned. We will open a new issue given the issues my specific version of Firefox (computer in general) saw when we tested in our meeting, and we can discuss solutions there. When that is resolved, we can push to the Firefox store.

[2020-11-17 19:53] #110 closed

[2020-11-17 19:54] kalicki1 opened #115 "Kuba's laptop's issues with Firefox"

[2020-11-17 19:54] kalicki1 opened #116 "Popup UI — counter & .well-known integration"
Let's use this issue to discuss and implement the redesign of the popup to integrate a .well-known information badge as well as a domain counter. (#102 references the domain counter, and #104 references the .well-known integration. Once that is complete we can work on that here.)

[2020-11-17 20:01] kalicki1 commented on #109
During our meeting today, we found that my GitHub was not loading all subdomains properly. Let's look into this.
![Screen Shot 2020-11-17 at 3 00 42 PM](https://user-images.githubusercontent.com/60238705/99441363-bee17300-28e5-11eb-9efb-d3f6cee97c39.png)

[2020-11-17 21:01] SebastianZimmeck commented on #115
I installed OptMeowt on Firefox (version 83) on my computer (macOS Catalina version 10.15.7) and everything worked as expected. I checked on all sites:

https://globalprivacycontrol.org/
https://global-privacy-control.glitch.me/
https://www.privacytechlab.org/optmeowt/

When I turned the signal on, it was shown that I am sending it. When I turned it off, it was shown I am not sending it. Also, the

[2020-11-19 07:49] kalicki1 commented on #115
Okay, I just took some time to look at this issue and it turns out that since I don't regularly use Firefox at the moment, I forgot I had a few other GPC compatible extensions installed. I believe one of them must have had the DOM signal set to off by default, which gave us the `false` flag on the original demo server. Uninstalling all of them brought everything back to normal and it runs smooth.

[2020-11-20 02:02] #115 closed

[2020-11-20 17:01] un71 opened #117 "Firefox support"
I am just opening this issue so people can watch it and be notified when it is on AMO.

[2020-11-23 00:24] SebastianZimmeck commented on #117
@asalia-1 and @kalicki1, could one of you look into the following by Tuesday?

I am not able to get OptMeowt v1.1.1 validated as a Firefox Add-on. There seems to be some issue with the yaml library we are using. Maybe, we need to bump the library, use a different one, or (if there is no other way) open a PR on their site to fix any issues that prevent validation.

Could you create a Firefox develo

[2020-11-23 00:51] SebastianZimmeck commented on #117
Also, on a side note, for every release:

1. Let's update the version number in the manifest
2. Upload the release on both the Chrome and Firefox stores

[2020-11-23 07:07] asalia-1 commented on #117
I will look into this

[2020-11-24 02:17] kalicki1 commented on #117
@asalia-1 and I took a look at this, and we decided that maintaining support for our YAML files will take more work that it's worth for now. It's going to be easier for us to fall back to JSON mainly because its supported so well by default. I will push these changes here in a new branch, and we can merge with the main once we are sure everything works. Then, when we are ready we can update our re

[2020-11-24 02:45] kalicki1 commented on #117
These should be the changes necessary to pass the issues you had above @SebastianZimmeck. I believe the warnings will still be there, but I think we can go ahead and try to upload the extension and work on fixing them in the meantime.

[2020-11-24 02:54] SebastianZimmeck commented on #117
Thanks, @kalicki1! I agree. We can address the warnings later.

Could you and/or @asalia-1 run some tests to make sure OptMeowt is still working (in particular, with regards to the domain list; e.g., selecting individual sites to not receive a GPC signal and exporting/importing the domain list).

Then, bump up the version number in the manifest and update the v1.1.1 release with new packaged files

[2020-11-24 06:29] kalicki1 commented on #117
I just ran a few tests and it looks like everything is working well! I'll open a pull request on this issue, and once it's all set I'll update the v1.1.1 release.

[2020-11-24 07:01] kalicki1 commented on #104
I implemented the .well-known green icon functionality in the last commit I pushed to this issue. Once we merge our open pull request regarding the Firefox fixes, we can merge this issue into the main branch as well.

[2020-11-24 17:47] kalicki1 commented on #117
@SebastianZimmeck, I updated the versioned release v1.1.1. I think we should be all set to continue the process of uploading to AMO.

[2020-11-25 01:29] SebastianZimmeck commented on #117
OptMeowt v1.1.1 is under review in the Firefox Add-on and Chrome Web Store. I will update this issue once the reviews are finished.

[2020-11-25 01:33] SebastianZimmeck commented on #104
Excellent!

[2020-11-25 01:35] SebastianZimmeck commented on #104
Feel free to close, @kalicki1, if you feel this is done.

[2020-11-25 23:42] asalia-1 commented on #117
During a manual review for OptMeowt v1.1.1 a bug was encountered. This is a snippet of the error logs produced by the bug.

grunt
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module &#39;js-yaml&#39;
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.requir

[2020-11-26 15:11] SebastianZimmeck commented on #117
I created a new [release v1.1.2](https://github.com/privacy-tech-lab/optmeowt-browser-extension/releases/tag/v1.1.2) with the code as it currently stands and submitted it to the Firefox Add-on store. Fingers crossed!

I will also update the version on the Chrome Web Store. However, as v1.1.1 is currently still under review I am not able to submit v1.1.2 right now.

[2020-11-28 15:16] Samour50 opened #123 "Google Sheets do not load at all"
Google Sheets do not load at all due to the browser extension.
Even when disabling do not sell on all google domains it still fails to load due to the site being unable to process the gpc flags. Google Docs and Drive load fine. Only option is to completely disable the extension.

This was working fine before as recently as yesterday so you may want to test and identify the root casue

[2020-11-28 18:00] kalicki1 commented on #123
Hey @Samour50! Thanks for the heads up!

I took a quick look at what the issue could be on my machine, though I wasn't able to replicate the issue. For my test I was using:
- Chrome (87.0.4280.67 (Official Build) (x86_64))
- MacOS Big Sur (11.0.1)
- OptMeowt (v1.1.1, current Chrome Web Store version)

Do you mind sharing a little more information about what web browser, it's version, and the OptMe

[2020-11-28 18:01] #104 closed

[2020-11-28 23:29] SebastianZimmeck commented on #117
Submitted v1.1.2 on the Chrome Web Store.

[2020-12-01 15:47] SebastianZimmeck commented on #117
Approved on the Chrome Web Store but still pending on AMO.

[2020-12-04 23:26] asalia-1 commented on #102
This issue can be closed since the counter has been implemented and pulled to master. Any adjustments to design will be discussed in issue #116

[2020-12-04 23:26] #102 closed

[2020-12-04 23:28] asalia-1 commented on #106
There was one library (animate.css) preventing the closure of this issue. I have migrated this library and it is now being managed npm.

[2020-12-04 23:28] #106 closed

[2020-12-05 14:35] aidanharris opened #124 "navigator.globalPrivacyControl should be a boolean?"
https://globalprivacycontrol.github.io/gpc-spec/#javascript-property-to-detect-preference

Expected:

[code]

Actual:

[code]

Expected:

[code]

Actual:

[code]

[2020-12-07 08:11] kalicki1 commented on #123
Given that we have not been able to replicate this issue and that we have not heard back about further problems related to this issue, we will assume it has been resolved and close this discussion.

[2020-12-07 08:13] kalicki1 commented on #123
@Samour50, if you find this problem recurring, feel free to open this issue back up.

[2020-12-07 08:13] #123 closed

[2020-12-07 09:57] kalicki1 commented on #116
I just pushed a commit that includes a green badge within the popup when it is opened on a site that accepts the GPC signal. At the moment, the implementation currently checks to see if a `GPC.json` file exists, and then automatically sets the badge to inform the user that that particular domain will actively accept a GPC signal. Otherwise, the badge is not displayed to the user.

Here is a screen

[2020-12-07 16:38] SebastianZimmeck commented on #117
There are various issues that were raised on AMO that @kalicki1 and @asalia-1 will take two weeks or so to fix. I can address point 4 on the privacy policy.

options\options.html - lines 29,30

[2020-12-07 16:44] SebastianZimmeck opened #125 "Add functionality to analyze and display the content of .well-known responses"
@kalicki1 already implemented functionality for detecting whether a site has a .well-known site, in which case OptMeowt shows in the popup that the GPC signal is accepted by the site (issue #116). However, the .well-known site may have more nuances than just saying that the GPC signal is accepted. For example, they could say that it is accepted for users from California but not for users from othe

[2020-12-07 16:46] SebastianZimmeck commented on #116
@kalicki1 finished the detection of the .well-known site. On the long run, we are also interested in surfacing its content (issue #125).

[2020-12-07 16:46] #116 closed

[2020-12-07 16:47] SebastianZimmeck commented on #12
On other thought on this is also to implement our own ad blocker. If a site accepts the GPC signal allow ads, otherwise block.

[2020-12-08 01:21] SebastianZimmeck commented on #109
We received one [new review on the Chrome Web Store](https://chrome.google.com/webstore/detail/optmeowt/hdbnkdbhglahihjdbodmfefogcjbpgbo), and it may relate to this issue. The review (in Italian) says:

Per Google Translate:

Maybe, this is also a different issue, but I am not quite sure. We could reply to the review. Let me know what you think.

[2020-12-19 17:26] SebastianZimmeck opened #126 "Add Global Privacy Control branding"
I think we should add some Global Privacy Control (GPC) branding to OptMeowt. Maybe, the GPC logo at the bottom of the popup. Feel free to go ahead if anyone wants to ...

[2020-12-21 16:29] SebastianZimmeck commented on #125
Maybe, to get started, just display the contents of the JSON response under a similar collapsable tab similar to "3rd Party Domains"

<img width="337" alt="Screen Shot 2020-12-21 at 11 27 56 AM" src="https://user-images.githubusercontent.com/11034003/102798791-971b7a00-437f-11eb-88a6-5d72ae8bf172.png">

[2020-12-21 16:32] #124 closed

[2020-12-21 16:39] SebastianZimmeck opened #127 "Fix possible settings bug that reverts from "enabled" to "domain list""
Per the the comment from one of our users.

<img width="718" alt="Screen Shot 2020-12-21 at 11 37 52 AM" src="https://user-images.githubusercontent.com/11034003/102799851-0ba2e880-4381-11eb-98d0-0725b7f319d0.png">

[2020-12-21 16:40] SebastianZimmeck commented on #109
The previous comment is related to issue #127.

[2020-12-21 16:42] SebastianZimmeck commented on #73
Some time in February 2021 may be enough.

[2020-12-27 20:40] dknopf commented on #109
I don't think that this problem is limited to a clean browser install, as I am having this issue even using my already installed version of chrome with optmeowt installed. I did have optmeowt disabled for a little while before testing this, but even after multiple visits to a site, such as github, I am still getting the above third party sites are disabled

[2020-12-28 01:53] dknopf commented on #109
It seems that the cause of this problem was that we were filtering out any request that was of type "image," which Kuba tells me was intentional and related to a previous issue. Redirects that were used to load images, such as Github's redirect to their avatars.githubusercontent.com site, wouldn't be included in the domain list as they were of type image. By removing that restriction, I was able t

[2020-12-28 02:08] SebastianZimmeck commented on #109
Excellent! Yes, the original idea was that there is no point to send opt out requests to servers that simply serve images or other assets. But in the end it does not really matter, we can just send them.

Great detective work on that one, @dknopf. Perhaps, some [asynchronous calls](https://www.pluralsight.com/guides/introduction-to-asynchronous-javascript) could be used (random link to the tutoria

[2020-12-28 16:52] SebastianZimmeck commented on #127
As @kalicki1 explained in our call today (and later in this issue), that is a feature not a bug.

Possibly, we want to have a readme FAQ, GitHub Wiki, or GitHub discussions for these type of clarifications. @kalicki1 will come up with a plan.

[2020-12-31 01:47] dharb opened #128 "Better handling of extension conflicts, other injection tweaks"
Just wanted to keep you guys up to date with a couple edits we made to our implementation after observing it in production. I updated the implementation guidance [doc](https://github.com/globalprivacycontrol/gpc-implementation-guidance/blob/main/client-implementation.markdown) with these changes, but wanted to explain them as well.

### Handling extension conflicts
This is a minor issue that came

[2020-12-31 02:53] SebastianZimmeck commented on #128
Thanks so much, @dharb! We will look into these ...

[2021-01-02 23:06] dknopf commented on #109
Created a fix in pull request #129 , awaiting review.

[2021-01-03 00:33] #109 closed

[2021-01-03 01:28] dknopf opened #130 "Disabling a site's domain logs you out of that site"
I just noticed that when I disable the "google.com" domain, either the third party one or the main one on google.com, it logs me out of all my Google accounts.

![image](https://user-images.githubusercontent.com/7244624/103469906-0490b880-4d39-11eb-8380-c08a24878678.png)

[2021-01-03 01:34] SebastianZimmeck commented on #130
Interesting. Is that Google-specific or does that also happen with accounts from other domains (e.g., Facebook)?

[2021-01-03 01:39] dknopf commented on #130
It seems to be happening with all sites I try, such as Github, Facebook, nytimes.com, and Humblebundle.com.

[2021-01-03 01:46] SebastianZimmeck commented on #130
Ah, OK. Well, I guess, that could pass as a feature instead of a bug. ☺️

I could imagine that this may be difficult to resolve because it may be that once a site realizes changes in the header, it logs a user out for security reasons (not sure if that is really the case, but I could imagine it). So, the best we may be able to do is to notify users of this behavior in the OptMeowt settings, the re

[2021-01-03 20:03] kalicki1 commented on #128
Thanks for the updates @dharb, they're much appreciated!

@SebastianZimmeck, I went through and updated our source code as applicable, I have the changes in branch `issue-128`. I will open a pull-request to bring the changes in.

### Some notes for myself:

With regards to the DOM property extension conflicts, I added the extra check for `navigator.globalPrivacyControl === true` before setting our

[2021-01-03 20:10] SebastianZimmeck commented on #128
Excellent, @kalicki1!

Feel free to close this issue if it is resolved.

[2021-01-03 22:24] #128 closed

[2021-01-04 00:43] kalicki1 commented on #127
It seems that using a Wiki may be our best bet for documenting quirks like this when they come up. I wrote up a basic Wiki with a little bit of information about this issue as well as what @dknopf found in issue #130. I also made mention of an FAQ in the readme to point users in that direction if they find something out of the ordinary. If we decide to keep it, we should update the OptMeowt settin

[2021-01-04 01:55] SebastianZimmeck commented on #127
Very nice @kalicki1! Two small suggestions: maybe make the "Wiki" reference in your readme a link to the Wiki and also add in the Wiki links to the issues your explanations are referring to.

[2021-01-04 06:08] kalicki1 commented on #126
I added the main Global Privacy Control logo to OptMeowt at the bottom of the popup in the last commit to the main branch. I figured it was a small enough change we could just pop it right in there. Here's how it looks:

<img width="345" alt="Screen Shot 2021-01-04 at 1 07 09 AM" src="https://user-images.githubusercontent.com/60238705/103505821-3123fd80-4e29-11eb-8f36-5af7831e6e92.png">

We could

[2021-01-04 13:49] SebastianZimmeck commented on #126
Very nice, @kalicki1! Can you move it a bit lower. Otherwise, it looks like this is related to the Dark Mode.

Also, maybe center it or move it a bit more to the side and have the logo link to globalprivacycontrol.com.

[2021-01-04 16:32] #127 closed

[2021-01-11 06:47] kalicki1 commented on #117
I have been looking into the issues AMO wrote about to try and get our extension back on the Mozilla store. @SebastianZimmeck, since you mentioned you could look into the privacy policy issue in (4), I decided to skip that for the time being. I went through our code, restructured our dependencies to fully rely on the npm system we set up earlier last semester (aside from Dark Mode Switch, which ha

[2021-01-11 06:58] kalicki1 opened #132 "Update dark mode"
While I was reorganizing our dependencies, I found that our dark mode package was the only dependency I had to leave a modified copy of in our source code. If it is possible, maybe we could find a way to avoid this kind of code use and rely on a stock npm package or something related.

In addition, we should also clean up how we render dark mode on our extension. Given we have a few new elements i

[2021-01-11 06:59] #126 closed

[2021-01-11 14:28] SebastianZimmeck commented on #117
Here is a privacy policy. It is very short because we do not collect any data.

[code]

You can post this under https://www.privacytechlab.org/optmeowt/privacy.html and ideally make the email address such that it will not be spammed.

[2021-01-11 15:22] SebastianZimmeck commented on #12
Closing this issue for now but we can re-open it later if we decide to go that route.

[2021-01-11 15:22] #12 closed

[2021-01-11 15:23] SebastianZimmeck commented on #103
Closing this issue for the time being but we can reopen it if we decide to go that route later.

[2021-01-11 15:23] #103 closed

[2021-01-11 15:26] SebastianZimmeck commented on #125
For the time being, let's just surface whatever content is in the JSON under a collapsable tab per above.

[2021-01-11 15:27] SebastianZimmeck commented on #132
Good point! Let's do it.

[2021-01-11 16:07] SebastianZimmeck commented on #130
@kalicki1, if you could provide a small explanation in the Wiki, reference this issue, and that should be it.

[2021-01-13 18:47] kalicki1 commented on #117
We got approved! 🎉

Since we are on AMO now, we should be all set with this issue. If we have any other specific problems in the future, we can open a new issue to address it.

[2021-01-13 18:47] #117 closed

[2021-01-13 21:06] kalicki1 commented on #125
I created the basic system for displaying our .well-known information from within the popup. Here is a screenshot of how it looks at the moment:

<img width="374" alt="Screen Shot 2021-01-13 at 3 56 49 PM" src="https://user-images.githubusercontent.com/60238705/104509988-7f1ecb00-55b8-11eb-8a38-c6c12c1f5208.png">

I will clean up the design and how the JSON file is displayed (to make it more user

[2021-01-13 21:12] SebastianZimmeck commented on #125
That's solid.

[2021-01-13 22:34] andreicristianpetcu commented on #117
This is sooo coool. I already started using it on Android. Thank you!
![Screenshot_20210114-003219_Firefox_Nightly](https://user-images.githubusercontent.com/922368/104518318-3c80e100-5600-11eb-8f94-4784daff55dc.png)
![Screenshot_20210114-003313_Firefox_Nightly](https://user-images.githubusercontent.com/922368/104518320-3d197780-5600-11eb-9668-ebffb5477373.png)
![Screenshot_20210114-003327_Firefox

[2021-01-15 20:34] kalicki1 commented on #125
I just pushed changes that update the displayed text and popup dropdown tabs when OptMeowt finds .well-known info on a particular site. Here are screenshots of the two current cases we check for :

<img width="341" alt="Screen Shot 2021-01-15 at 3 18 05 PM" src="https://user-images.githubusercontent.com/60238705/104775193-f59d0380-5745-11eb-8e91-df28efcd0e4d.png">
<img width="348" alt="Screen Shot

[2021-01-15 20:49] SebastianZimmeck commented on #125
Looks good!

OK, sounds good. Per the [spec](https://globalprivacycontrol.github.io/gpc-spec/#gpc-support-representation),  GPC Signals Accepted is `true`, GPC Signals Denied is `false`, and GPC Policy Missing if there is no resource.

[2021-01-18 16:03] #130 closed

[2021-01-18 16:37] SebastianZimmeck opened #134 "Create tutorials on GPC frontend implementation [OptMeowt as frontend reference implementation]"
As we discussed today, in addition to a working user tool, OptMeowt can serve as a template for implementing GPC in browsers and browser extensions. To that end, it may be helpful to:

- Rewrite the readme a bit to address developers
- Include additional info in the Wiki
- Create a blog post (e.g., we can publish it on Medium) with a tutorial and some code snippets on how to do it
- Have a video t

[2021-01-19 03:34] #125 closed

[2021-01-20 03:14] kalicki1 commented on #132
I just finalized the dark mode changes and the UI updates for this issue. Here is how everything currently looks at the moment:

<img width="948" alt="Screen Shot 2021-01-19 at 9 56 43 PM" src="https://user-images.githubusercontent.com/60238705/105121040-696e4180-5aa1-11eb-82a3-ec6475e13274.png">

<img width="949" alt="Screen Shot 2021-01-19 at 9 59 27 PM" src="https://user-images.githubuserconten

[2021-01-20 03:28] SebastianZimmeck commented on #132
Looks good from my side!

[2021-01-23 01:35] #132 closed

[2021-02-09 18:33] dknopf opened #137 ""Extension Disabled" Text is Hidden Behind Scrim"
When I disable the optmeowt extension via the "disable" button at the top of the popup the subsequent "extension disabled" screen looks a bit weird as it seems the words "extension disabled" are hidden behind a white scrim instead of on top of it

![image](https://user-images.githubusercontent.com/7244624/107410465-5a484580-6adb-11eb-9c82-616674fe34cf.png)

[2021-02-09 18:36] dknopf opened #138 "404 Error When .Well Know Not Found"
I'm not sure if this is intended or not, but on any site that doesn't have a .well-known/gpc.json file there is a 404 error. This happens even when the extension is disabled via the popup disable button.

![image](https://user-images.githubusercontent.com/7244624/107410712-a8f5df80-6adb-11eb-83ba-5077450f3c71.png)

[2021-02-09 18:42] SebastianZimmeck commented on #138
Good point, @dknopf. I believe I mentioned that a while back to @kalicki1 and we settled on being OK with those 404s. (There is essentially no way around those, as I see it.)

[2021-02-09 19:12] dknopf commented on #138
Yeah I figured you guys had seen it, I was just wondering if there was some way of suppressing the error and instead printing out a message or something, just so that other developers don't think there's a problem in our code.

[2021-02-11 17:37] SebastianZimmeck opened #139 "Detect .well/knowns that do not have a version number"
The New York Times has a [.well-known](https://www.nytimes.com/.well-known/gpc.json), however, without the version number. Currently, OptMeowt does not detect the .well-known. So, I think we should change the detection on our end. It works if am on https://www.nytimes.com/.well-known/gpc.json but not if I am just on https://www.nytimes.com/.

[2021-02-15 00:31] kalicki1 commented on #137
Thanks for the heads up @dknopf! I just pushed an update fixing the issue, it looks like one of the "transparent" parent div tags didn't have a proper closing, so the "Extension Disabled" text was made transparent as well. I pushed the changes right to the main branch so I'll go ahead and close this issue since we should be all set with it!

[2021-02-15 00:31] #137 closed

[2021-02-15 02:10] kalicki1 commented on #138
So I just took a look at the error, and yes I agree with @SebastianZimmeck that the 404s are probably alright. I would hope developers would be able to see the 404 is on the 1st party's hands for missing a `.well-known`, not ours. I think the more concerning thing was that the extension would continue to send content scripts regardless of whether OptMeowt was enabled or not. I'm pushing a change t

[2021-02-15 02:39] kalicki1 opened #140 "OptMeowt displays `undefined` error under `Website Response` popup tab"
For some reason, the popup shows an `undefined` error and `error: Not Found` message in place of the .well-known text when I'm on GitHub. No other site seems to show this error for some reason. Here is a screenshot of the issue:

<img width="351" alt="Screen Shot 2021-02-14 at 9 14 16 PM" src="https://user-images.githubusercontent.com/60238705/107899719-12775300-6f0d-11eb-92d6-cab24398cc57.png">

[2021-02-15 04:14] kalicki1 commented on #140
I pushed a small patch for this issue, it should be all set!

[2021-02-15 05:25] kalicki1 commented on #134
I created a new folder in branch issue-134, `src\implementation`, which contains a new barebones example Chrome extension.

The new folder contains the `manifest.json` and `background.html` an extension requires at a minimum, however, the goal is to test whether we can have a single JS file that developers could drop into privacy-focused extensions in order to enable the GPC HTTP and DOM signals o

[2021-02-15 20:22] SebastianZimmeck commented on #138
Maybe, add a sentence to the readme that not finding a `.well-known` will cause a `404` error.

[2021-02-15 20:26] SebastianZimmeck commented on #139
Maybe, this is a timing issue. The formatting seems to be OK.

[2021-02-15 20:28] #140 closed

[2021-02-22 15:23] #138 closed

[2021-03-01 19:42] kalicki1 commented on #134
I created a sample Medium blog post that can serve as our frontend implementation reference for the time being. We can change platforms, I'm not partial to Medium, but that is where everything is for the time being.

[Here is the Medium draft link.](https://medium.com/@kalicki/sample-frontend-implementation-for-global-privacy-control-gpc-6a8f568a61aa)

It is still a work in progress, but let me kn

[2021-03-06 17:42] SebastianZimmeck opened #141 "Create new release"
I think we should also create a new release. Especially, the Chrome and Firefox version are currently not the same.

[2021-03-06 17:49] SebastianZimmeck commented on #134
Thanks, @kalicki1! This is a good start, though, fairly high-level. I was thinking of something more concrete. Think of a developer documentation, for example, like the [AdMob integration instructions](https://developers.google.com/admob/ios/quick-start). What is your opinion? Maybe, include code snippets, describe which pieces of code are responsible for which functionality, how those code pieces

[2021-03-08 16:16] kalicki1 commented on #141
I created a new tag and published a new release @SebastianZimmeck. I have also pushed our new version to the Firefox AMO store and just received email confirmation that everything is all set. I think you should be all set to update the Chrome Web Store version the same way when you have the chance!

[2021-03-08 17:16] SebastianZimmeck commented on #141
Great! Thank you, @kalicki1. I just submitted v1.1.4 on the Chrome Web Store as well. I will close this issue once it passes review there.

[2021-03-09 01:25] kalicki1 commented on #139
As discussed in our meeting earlier today, I found that this issue was not caused by OptMeowt being unable to find the GPC.json file, but rather a reset happening when sub-frames are loaded on the NYT site.

This involves the Chrome APIs, since I have a local variable reset to `false` when a page is detected to refresh. I did not know that a listener connected to the Chrome `onBeforeNavigate` API

[2021-03-09 01:25] #139 closed

[2021-03-15 19:57] SebastianZimmeck commented on #141
OK, we have v1.1.4 on Chrome Web Store and the AOM store.

[2021-03-15 19:57] #141 closed

[2021-04-05 21:38] SebastianZimmeck opened #143 "Explore Google's Restricted Data Processing (RDP) and the IABs US Privacy String API (USPAPI)"
Here is an explanation on detecting RDP and the US Privacy String API (USPAPI):

We can

- Check that calls to GAM include the RDP flag (I do not know what GAM is; maybe something related to Google)
- Check that calls to adtech vendors (especially header bidding) are either suppressed or include the appropriate USPAPI flags

Basically, when ads are inserted the URL is known as an "ad call". This i

[2021-04-05 22:24] SebastianZimmeck commented on #143
One important point on WordPress sites is also that they are not actually modifying the USPAPI cookie in connection with GPC being enabled or disabled. Instead of reading the cookie value directly, they call into the IAB USP API to get the consent string. They use a wrapper `__uspapi(‘getUSPData’, 1, (data) => console.log(data))`. If GPC is enabled, then it will override the cookie value with 1YYN

[2021-04-05 22:35] SebastianZimmeck opened #144 "Implement Do Not Sell link identification"
As @stanleymarkman already started working on the identification of Do Not Sell links in another repos, one task is to move that functionality to OptMeowt. Before that move can be made, it may be that @kalicki1 would need to explain a bit more about the codebase and where the functionality fits it. I am opening this issue more as a starting point. Feel free to do your own thing, @stanleymarkman.

[2021-04-08 23:35] SebastianZimmeck opened #145 "Add explanation on Chrome Web Store and Firefox Addons for permission use"
To avoid confusion and possibly negative reviews add something [along the lines of](https://chrome.google.com/webstore/detail/remove-cookie-banners/pacehjmodmfilemfbcahnpdcdmlocjnm):

[2021-04-09 10:13] sammypanda opened #146 "Running on moz-extension scripts"
OptMeowt is blocking some of my browser extensions (firefox) from reaching out to my computer :(

I'm not sure if there is a way to disable OptMeowt for local origins :heart:

[2021-04-09 10:19] sammypanda commented on #146
sowwy, here are some more details :)

![image](https://user-images.githubusercontent.com/38725335/114166096-a47d6400-9970-11eb-9324-826ef6e2fdb9.png)
- you can pretty much ignore webrequest.js / ui-service.js, they are just scripts from that extension that are throwing errors in response to the blocks from the optmeowt scripts

[2021-04-09 13:17] SebastianZimmeck commented on #146
Thanks for pointing this out, @sammypanda! We will be looking into that. Could you provide some more information so that we can try reproducing the error? For example, which other extensions are involved, any particular settings you have on those, ...

[2021-04-09 23:50] sammypanda commented on #146
I have this as the server on my desktop https://github.com/lolamtisch/Discord-RPC-Extension/releases/tag/0.1.2

this as the hook in my browser https://addons.mozilla.org/en-US/firefox/addon/discord-rich-presence/?utm_content=addons-manager-reviews-link&utm_medium=firefox-browser&utm_source=firefox-browser

and this to interact with the hook extension https://addons.mozilla.org/en-US/firefox/addon/

[2021-04-10 15:09] SebastianZimmeck commented on #146
Thank you @sammypanda, we will look into this (may take a while but we are on it ...)

[2021-04-12 20:55] SebastianZimmeck commented on #143
Seems there is not much more to say here.

[2021-04-12 20:55] #143 closed

[2021-04-12 21:09] SebastianZimmeck opened #147 "Specify the privacy strings to look for in HTTP requests"
Here is a list of privacy strings to look for in HTTP requests and what their values should be after opting out:

- Restricted Data Processing (RDP): should be `rdp=1` per [Google's documentation](https://support.google.com/adsense/answer/9598414?hl=en) (e.g., calls to [Google Ad Manager (GAM)](https://support.google.com/admanager/answer/9561023?hl=en))
- US Privacy String: should be `Y` in the th

[2021-04-12 21:21] SebastianZimmeck opened #148 "Intercepting flags set by USPAPI (i.e., non-cookie IAB US Privacy Strings) in iFrames"
One important point is that there are sites that are not actually modifying the USPAPI cookie in connection with GPC being enabled or disabled. Instead of reading the cookie value directly, they call into the IAB USP API to get the consent string. They use a wrapper `__uspapi(‘getUSPData’, 1, (data) => console.log(data))`. If GPC is enabled, then it will override the cookie value with `Y` in the t

[2021-04-12 21:28] SebastianZimmeck opened #149 "Devise approach on identifying Do Not Sell links"
Per @stanleymarkman's findings, sites subject to the CCPA sometimes use language in their opt out links different from what the CCPA requires. Thus, we want to come up with an approach to match the diverging links. This approach can be as simple as providing a set of all the links that we encountered so far. Regular expressions or [string distance metrics](https://en.wikipedia.org/wiki/String_metr

[2021-04-13 19:03] dziku86 opened #150 "Feature Request: Add option to disable extension console logs"
As in the title. Add option to disable optmeowt extension console logs.

[2021-04-13 21:24] dziku86 opened #151 "Extension causes high CPU load"
**What is wrong:**
Extension causes high CPU load:fire:

**Steps to reproduce:**
1. Open Task Manager in Chrome (`Shift` + `Esc` on Win)
2. Go to: https://www.gog.com/
3. Experience high CPU load with every network request

It happens on every setting even when I set it to `Disable`.
I know I have an old, low end pc but this literally kills my cpu.

![image](https://user-images.githubusercontent.c

[2021-04-14 01:37] SebastianZimmeck commented on #151
Thanks, @dziku86! We will be looking into that (may take a while) ...

[2021-04-14 01:40] SebastianZimmeck commented on #150
We will look in that ...

[2021-04-14 01:48] SebastianZimmeck opened #152 "Explain permission use of OptMeowt in readme"
I think it would increase transparency and understanding if we describe the reasons for using each permission similar to [uBlock Origin](https://github.com/gorhill/uBlock/wiki/Permissions).

[2021-04-14 13:38] SebastianZimmeck opened #153 "Design architecture of Compliance Analysis Mode"
We decided to implement a new core functionality, a compliance analysis. The analysis consists of

1. Identifying Do Not Sell links on websites
2. Identifying RDP, US Privacy String, and/or other CCPA compliance mechanisms and their status
3. Sending a GPC signal
4. Checking whether the compliance status has changed (e.g., RDP changed from `unrestricted` to `restricted` after receiving the GPC sig

[2021-04-14 13:44] SebastianZimmeck commented on #153
One of the tricky parts in this new architecture is that OptMeowt is actually dropping and writing cookie values itself to opt users out (e.g., for the US Privacy String). Thus, there could be confusion in the compliance analysis if we are reading the cookie value that we wrote ourselves. One mechanism to avoid this confusion could be to order async calls (e.g., using promises) such that everythin

[2021-04-19 02:59] kbeliauski commented on #146
@sammypanda our extension is trying to update the cookies in your local file, but as far as I know, Firefox doesn't let us update cookies in local files, so that's why you are getting these errors from our side. Does everything works once you turn off OptMeowt? Also, could you please describe what you are trying to do with those extensions that you mentioned? It looks like you are using a wrapper

[2021-04-19 03:17] kbeliauski commented on #146
I installed all of those extensions and added some presences to PreWrap, and everything works for me (with OptMeOwt on)

[2021-04-19 19:34] SebastianZimmeck commented on #153
@stanleymarkman implemented this and will create a separate `issue-153` branch and open a PR.

[2021-04-19 19:36] stanleymarkman commented on #151
Hi @dziku86! Thank you for the issue report. I checked CPU use on my local machine and, while not great, it's manageable. The extension is in active development and optimizations should be coming somewhat soon. In the meantime, could you try and run the extension on Firefox and see if performance is any better?

[2021-04-19 21:49] dziku86 commented on #151
Hi @stanleymarkman. On Firefox 87.0b9 (32-bit) the extension (v1.1.4) performs a lot better. CPU usage is medium to low on average.

[2021-04-26 16:40] kbeliauski commented on #146
Hey, @sammypanda ! I am closing this issue since we haven't heard from you back in a week, but feel free to open it back up if something comes up.

[2021-04-26 16:41] #146 closed

[2021-04-26 18:27] kbeliauski commented on #150
I am working on it right now. I will add the function when depending on the status of the switch, we will be able to remove or leave the console logs. In addition, I think it will be a good idea to make this a button in the interface of the extension, so that any user can just choose to remove them.

[2021-04-26 18:35] kalicki1 commented on #150
For the time being, I pushed a small change that comments out the console.log's we are currently using.

[2021-04-26 22:23] SebastianZimmeck commented on #153
Per our discussion today, @stanleymarkman will merge the compliance mode into main fairly soon. It is not necessary that it is fleshed out or fully functional. @stanleymarkman, feel free to open a PR once ready and possibly @kalicki1 can review.

[2021-04-27 03:07] SebastianZimmeck opened #154 "Possibly add data layer for privacy flags"
In our meeting today @stanleymarkman showed various flags hardcoded in a JS file, e.g., "GDPR", "US Privacy String" , etc. If this list grows, the structure of OptMeowt may be improved by adding a data layer, e.g., using a JSON or YAML format. Here is an [example from PrivacyFlash Pro](https://github.com/privacy-tech-lab/privacyflash-pro/blob/main/policygenerator/spec/privacy_practices.yaml). (I w

[2021-04-30 02:53] SebastianZimmeck commented on #153
Possibly relevant [paper](https://arxiv.org/pdf/1911.09964.pdf) with an implementation of an extension to identify cookie banner violations.

[2021-05-01 15:56] stanleymarkman opened #155 "Privacy flag data logging mechanism"
Before we can show useful information to our users about whether we think websites might be selling their data (or violating CCPA, etc.) we need to understand how privacy flags are used across different sites/ad networks/jurisdictions.

The persistent data logging system should be an additional developer setting, including for each site:
-location of user (geographic)
-all privacy flags detected
-

[2021-05-01 15:57] stanleymarkman opened #156 "Collect enough privacy flag data in a centralized location"
Not sure yet where we'll collect this data, but there should be a representative sample of privacy flags collected.

My initial idea is just to install the extension on my regular web browser to collect enough real data via regular browsing.

[2021-05-01 15:57] stanleymarkman opened #212 "Test analysis mode"
Not sure yet where we'll collect this data, but there should be a representative sample of privacy flags collected.

My initial idea is just to install the extension on my regular web browser to collect enough real data via regular browsing.

(we can't do this until I finish the data logging system, privacy-tech-lab/optmeowt-browser-extension#155 )

[2021-05-01 16:01] stanleymarkman opened #157 "Design UI to show users analysis findings"
Kiryl, I'm assigning this to you for the future even though we don't yet have enough data logged. The idea is to look at a large amount of logged privacy flag data, and from that data devise some method of giving the user a discrete and simple recommendation about their data- i.e., "we think this site sells your data" or "we think this site is complying". Warnings about selling data should *not* h

[2021-05-01 16:06] stanleymarkman opened #158 "Implement US Privacy string detection mechanism"
This feature will look at the intercepted HTTP headers/params in real time, giving the user a live, yet simplified and understandable picture of what a website is doing with their data.

The UI for this should be as simple and abstract as possible (probably giving a simple verbal statement about how we think a website is complying.) This doesn't have to be based just on live data- in the future, w

[2021-05-01 16:15] stanleymarkman opened #159 "Implement US Privacy flag detection"
We only have a few privacy flags so far, but there will inevitably be more, possibly with complex settings/meanings (beyond truthy/falsy, etc.) We should have an extendable format for these flags so adding new ones is easy without breaking our understanding of previous flags. Something like this (pseudocode, not meant to be actual info about GDPR)
`{
flag = "gdpr",
values : {
    "1": "meanings.pr

[2021-05-01 16:16] stanleymarkman commented on #159
This should closely interact with the data logging mechanism- for example, if we see a flag only expected in the url-params in the header instead, the data logging mechanism should notice that and pull it out of the stream for us to look at, and reevaluate the flag.

[2021-05-01 16:32] stanleymarkman commented on #159
Right now, the privacy flags are just stored in a little list at the top of backgroundanalysis.js with some comments explaining what they do. The checkTruthy method will need to be adapted to work with the json format as well, and return the new "meaningfulness" datatypes, i.e. meanings.protected, meanings.unprotected, etc.

[2021-05-03 14:13] SebastianZimmeck commented on #152
I added some clarification in the readme that we are not collecting any data. Otherwise, this is good.

[2021-05-03 14:13] #152 closed

[2021-05-03 16:13] SebastianZimmeck commented on #145
I clarified in both the Chrome Web Store as well as in the Firefox Add-On Store that neither we nor third parties are collecting any data. Hopefully, that clarifies it ...

[2021-05-03 16:13] #145 closed

[2021-05-03 16:26] SebastianZimmeck commented on #159
These are good points! One way to avoid breakage and improve OptMeowt's structure is to introduce a specification layer separate from the backgroundanalysis.js. @stanleymarkman, take a look at an [example from PrivacyFlash Pro](https://github.com/privacy-tech-lab/privacyflash-pro/blob/main/policygenerator/spec/privacy_practices.yaml) on how such a file could look like. That one is in YAML format b

[2021-05-03 16:27] SebastianZimmeck commented on #154
This issues is being taken care of in issue #159.

[2021-05-03 16:27] #154 closed

[2021-05-03 16:31] SebastianZimmeck commented on #155
Developer setting? Wouldn't that be just a normal user setting?

We should discuss this today in a bit more detail.

[2021-05-03 16:37] SebastianZimmeck commented on #156
Yes, that is a good idea! Initially, just browsing and getting a handle is sufficient. Later on, we can come up with a more systematic approach.

I am transferring this issue to the gpc-paper repo (to which I invited you and @kbeliauski). Feel free to store data from your browsing there.

[2021-05-03 16:42] SebastianZimmeck commented on #147
@stanleymarkman and @kbeliauski, let's just put new privacy flags here in this issue. That way we can discuss whether or not to include them. Then, we can put those in the relevant background file or the separate data layer (issue #159).

[2021-05-03 16:43] SebastianZimmeck opened #160 "Update the list of developers in the source files"
Currently, we have the following, which is out of date. I will update the list of developers.

[code]

[2021-05-03 16:59] SebastianZimmeck commented on #157
A few possibilities and comments.

- Log all (potential) violations to a background page. In addition, show the result for the current page in the popup --- violation or not. That way, it is up to the user whether they want to see what is going on (or go back to the logged violations in the background page).
- Alternatively/in addition, change the little green circle for the OptMeowt icon @kalicki

[2021-05-03 17:00] SebastianZimmeck commented on #158
@stanleymarkman, see [my comment on the related issue](https://github.com/privacy-tech-lab/optmeowt-browser-extension/issues/157#issuecomment-831394601).

[2021-05-03 17:03] SebastianZimmeck commented on #144
Will be taken care of in issue #149.

[2021-05-03 17:03] #144 closed

[2021-05-03 17:08] SebastianZimmeck commented on #153
I understand this is done, so I am closing this issue. We can discuss more later today.

[2021-05-03 17:08] #153 closed

[2021-05-03 19:14] SebastianZimmeck commented on #148
Here is the [IAB framework](https://github.com/InteractiveAdvertisingBureau/USPrivacy/blob/master/CCPA/USP%20API.md).

[2021-05-03 19:16] SebastianZimmeck commented on #150
@kbeliauski, please create a PR and add @stanleymarkman and @kalicki1 as a reviewer.

[2021-05-03 19:41] stanleymarkman opened #161 "Look into decrypting HTTPS traffic"
This is a somewhat urgent issue- HTTPS ad call requests are currently encrypted and hidden to us. We need to look more into this and see if it's possible to decrypt on Chrome- Raf found some way to do this on Firefox, so this might need to be browser-specific functionality.

[2021-05-03 19:47] stanleymarkman opened #162 "Use built in classification flags to find tracking requests"
Wow! wish I'd found this earlier- looks like the API (at least for firefox) has some kind of way to filter for tracking, ads, and analytic flags. https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest/onSendHeaders
(look under 'The classification flags include')
Definitely will be good to research and implement this.
(part of https://support.mozilla.org/en-US/kb/enha

[2021-05-03 20:17] SebastianZimmeck commented on #161
@rgoldstein01, @davebaraka, and @notowen333, I just discussed with @stanleymarkman and @kbeliauski that decrypting HTTPS requests is only possible on Firefox. @stanleymarkman mentioned that there is an official Firefox API as part of their tracking protection functionality. Is that what we are using in the integrated privacy analysis?

Chrome was a dead end, right? Have we tried anything there?

[2021-05-03 20:18] SebastianZimmeck commented on #161
@stanleymarkman describes the Firefox functionality in issue #162.

[2021-05-03 20:21] rgoldstein01 commented on #161
@SebastianZimmeck Correct. That is what we are using.

[2021-05-03 20:33] SebastianZimmeck commented on #161
Thanks, @rgoldstein01!

@stanleymarkman and @kbeliauski, I just added you to the integrated-privacy-analysis repo where @rgoldstein01, @davebaraka, and @notowen333 implemented the Firefox API. If you search for the API via the search box in the repo, you should be able to find it and see how it is used (if at all helpful).

integrated-privacy-analysis is a browser extension based on React and for

[2021-05-03 20:43] SebastianZimmeck opened #163 "Merge privacy compliance functionality into main branch"
As discussed today, it may be worthwhile for @stanleymarkman to bring in his changes for the privacy compliance functionality --- checking whether a privacy flag was changed to restricted data processing mode after an opt out --- fairly soon. The reason is that the longer we wait with the merge, the more difficult it may get. As far as I am concerned, it is OK if the main branch breaks. We can fig

[2021-05-03 21:06] SebastianZimmeck commented on #157
@stanleymarkman, I renamed this issue. Feel free to change with something that captures your idea better.

[2021-05-03 21:07] SebastianZimmeck commented on #155
Per our discussion, I am moving this issue to the gpc-paper repo.

[2021-05-03 21:13] SebastianZimmeck commented on #159
Per our discussion, @stanleymarkman has done this already, and the new spec layer will come into the main branch once we merge (issue #163).

[2021-05-04 15:14] stanleymarkman commented on #157
Sounds good- I think the final UI will end up being very similar to the ideas we discussed in lab meeting:

-First layer: simple color notification in the icon (with colorblind support)
-Second layer: a 1-2 sentence description in the Optmeowt dropdown, with a link to the background/settings page
-Third layer: Detailed breakdown of the privacy flags with specific resources linking to each legislat

[2021-05-04 15:34] SebastianZimmeck commented on #157
Excellent, @stanleymarkman!

As this plan will likely require quite a number of changes, consider first bringing what you currently have into the main branch (issue #163). Feel free to decide however you see fit, though.

[2021-05-07 02:54] SebastianZimmeck commented on #163
I think before we do this merge, we have to figure out the HTTPS situation (issue #161, which is currently the most important issue if I see that correctly). Essentially, if we are not able to decrypt HTTPS traffic for Google Chrome (which seems the most likely outcome at this point), we may have to create two separate OptMeowt versions --- one for Firefox with the privacy flag compliance function

[2021-05-07 05:43] kalicki1 commented on #163
If we want to restructure the code, one of the ideas I had that would be most valuable to us is to restructure the code to work in a fashion similar to how the [DDG Privacy Extension](https://github.com/duckduckgo/duckduckgo-privacy-extension) code base is structured. I haven't looked at it in a while, so I don't remember the details of how it works, but some of the main things I would like are po

[2021-05-07 19:13] kbeliauski commented on #150
currently waiting for @stanleymarkman to merge his changes, so that I can make a PR. Currently, the feature is partially working, so I would like to get some feedback from @stanleymarkman or @kalicki1 about how to improve it.

[2021-05-07 19:21] kbeliauski commented on #149
I am going to add a list of all the different links we have seen so far. We can see with time if we have to go with a different solution. I am thinking to connect the functionality to a button in a popup of the extension, so that when a user presses it, we can check if the website has the link or not. another idea that just came to mind is that we can have a text field that will show the results o

[2021-05-07 19:22] kbeliauski commented on #149
it doesn't really matter what we go with, because it will barely affect my code that I am writing right now.

[2021-05-07 19:41] kbeliauski commented on #150
The solution I have been thinking about is making the function, that allows to turn off the logs, an export function, and then import it to every file that has console logs calls in it.

[2021-05-07 22:50] SebastianZimmeck commented on #150
Yes, the issue I see at the moment is that we need to fundamentally restructure our architecture before we can get to these more detailed issues. For the time being, in situations like these we can push to feature branches. Concretely, @kbeliauski, feel free to open an `issue-`150` branch and push it to the remote repo. That way the change is at online, possibly for @stanleymarkman or @kalicki1 to

[2021-05-07 22:58] SebastianZimmeck commented on #149
I would say what we definitely should have is a functionality that automatically checks whether a Do Not Sell link is available as soon as the user navigates to a new site. The more we can do automatically, the better.

There may be also the problem that a site only has a link on its homepage but not on other pages. I have not looked too much into this. So, this is a bit of a question how it is do

[2021-05-09 23:55] kbeliauski commented on #150
pushed a branch `issue-150`. Will be updating after the feedback.

[2021-05-10 19:44] kbeliauski commented on #150
After @kalicki1 looked at the code, we decided that I will create an export function for the console log switch function that currently only works for the popup window and will import it to every file that has logs.

[2021-05-17 15:21] unbeatable-101 opened #164 "[Bug] Extension is using way too much memory"
https://bugzilla.mozilla.org/show_bug.cgi?id=1708506

[2021-05-17 16:02] SebastianZimmeck commented on #164
Thank you, @unbeatable-101! We will look into that. We are in the process of restructuring the architecture of OptMeowt, and will address this issue along the way.

From the linked thread above:

[2021-06-03 22:25] kalicki1 opened #165 "[Omnibus] Roadmap for the coming weeks"
Let's use this issue to record the changes we are planning for OptMeowt in the coming weeks. Feel free to add/change anything as need be! Let's also keep this as a very high level overview, we should open sub-issues for every item here.

As mentioned, @kbeliauski, @stanleymarkman, @SebastianZimmeck and I agreed on a general road map for the planned changes in today's meeting.

**Overarching Topics

[2021-06-03 23:25] kalicki1 opened #166 "[Architecture] Refactoring OptMeowt"
I believe this issue has the highest priority of those mentioned in #165. In short, we want to figure out how we will restructure OptMeowt to make more sense as a larger, more intricate project, as well as one that will continue to grow in the coming months. Given we want to make the codebase easy to understand, as well as add new analysis functionality, we should modularize the existing code with

[2021-06-04 19:31] kalicki1 opened #167 "[Analysis] Privacy analysis components"
Let's use this issue as a discussion on our privacy analysis functionality. This relates to issue #165.

[2021-06-04 19:34] kalicki1 opened #168 "[Frontend] Rewriting current frontend with React"
Let's use this issue to discuss / work on rewriting our frontend (the options page and popup) with React. @stanleymarkman @kbeliauski, you both mentioned you have experience working in React so this might be something easier for either of you to take a look at when you have time. We can also brainstorm ideas for how to implement a streamlined frontend codebase here as well. Linking issue #165 as w

[2021-06-04 19:42] kalicki1 opened #169 "[Frontend] Designing Chrome vs. Firefox UI"
Let's use this issue to discuss how we will implement a Firefox UI with our privacy analysis functionality and/or if we need to make changes to how the Chrome UI will look as a result. It might be the case there is not much to decide, in which case we can close this issue early. @stanleymarkman started off with some good ideas on what we could do with our badge icon on different ad calls, etc. We

[2021-06-04 19:47] kalicki1 opened #170 "Replacing local storage with IndexedDB"
Let's use this issue to research whether or not it is worth implementing a local database for our data instead of using local storage (as we currently use). In my eyes we can work on this when we have some time, although implementing this might help with resource management and codebase clarity in general.

[2021-06-05 00:55] SebastianZimmeck commented on #165
Nice! On Chrome vs. Firefox, (1) the opt out functionality will be available for Chrome and Firefox and (2) the compliance analysis functionality only for Firefox. This will be reflected in our modularized approach.

[2021-06-05 00:58] SebastianZimmeck commented on #166
Looks good! Can't think of any improvements at this point.

[2021-06-05 01:24] SebastianZimmeck commented on #161
I am closing this. Basically, decrypting HTTPS with Chrome is too complicated, and we only implement the analysis functionality for Firefox.

[2021-06-05 01:24] #161 closed

[2021-06-05 01:28] SebastianZimmeck commented on #150
@kbeliauski, you will finish this in the next days, right? (I believe that is what we discussed.)

[2021-06-05 01:41] SebastianZimmeck commented on #163
This issue is essentially subsumed by #165.

(@stanleymarkman and everyone actually, please close issues if they are done.)

[2021-06-05 01:41] #163 closed

[2021-06-05 01:57] SebastianZimmeck commented on #157
@kbeliauski suggested that the compliance analysis functionality works the way that a user can enter one or multiple websites to analyze, hit a start button, OptMeowt will then silently do the analysis (via headless browsing; is that possible?), and generate a report (say, a CSV file) with the analysis results. This change in functionality also necessitates a different approach to the UI.

I think

[2021-06-05 02:01] SebastianZimmeck opened #171 "Describe in readme how to use analysis functionality"
Once we have implemented the analysis functionality, we need a tutorial describing how to use it.

[2021-06-05 02:09] SebastianZimmeck commented on #169
As I see it at the moment, much of the compliance analysis UI could be relegated to a Compliance Analysis Settings page (or something similar) in addition to About, Domain List, and About. The current Compliance Analysis popup button, per below, is for starting the analysis functionality, and all other details are displayed in the settings page:

<img width="310" alt="Screen Shot 2021-06-04 at 10

[2021-06-05 02:13] SebastianZimmeck commented on #170
Yes, if one of you, @stanleymarkman or @kbeliauski, can take the lead here. Here is an explanation on [IndexedDB](https://developers.google.com/web/ilt/pwa/working-with-indexeddb).

[2021-06-05 21:05] kbeliauski commented on #150
Yes @SebastianZimmeck, I am finishing it this weekend in addition to working on other more urgent issues.

[2021-06-05 21:11] kbeliauski commented on #157
I think that the way to go is, like @SebastianZimmeck said, to have a separate tab in the settings page for the multiple page analysis mode, but also keep a simpler version in the popup. The simpler version will just do what @stanleymarkman described and only for the website the user is currently on.

[2021-06-05 21:16] kbeliauski commented on #170
@SebastianZimmeck, I can totally read up on IndexedDB and figure out how it can help us.

[2021-06-06 00:54] SebastianZimmeck commented on #170
Great, @kbeliauski! Please also take a look at our codebase, and how IndexedDB fits in. @kalicki1 will be able to chime in.

[2021-06-06 14:43] stanleymarkman commented on #168
I'll get started on the React rewrite- the next step in the analysis functionality requires some fairly substantial UI additions, so I'll start out by writing the analysis frontend first. By the time I'm done with that I should understand how the frontend should be structured and I'll go back and start putting back the features from the current Optmeowt UI. Let me know if any UI features should ta

[2021-06-06 14:44] stanleymarkman commented on #168
@kbeliauski the database system will need to be linked in with the new UI eventually- I'll make sure to document the UI hooks well to make it easier when we need to link them.

[2021-06-08 04:10] SebastianZimmeck opened #172 "Refactor file names, variable names, etc."
In the general sprit of refactoring, we realized today that the naming convention for files is not uniform (the same may be true for variables and other names). I am not particular about how to go about this, but it should be uniformly camel case, with underscore, with hyphen, ...

[2021-06-09 22:00] chunyuema opened #173 "[Research] Optmeowt-browser-extension-Research"
### Research version of optmeowt-browser-extension
**NOTE: This version of the extension will not be used for production and is not to be combined with the current extension. The official browser extension will not collect any user data! This research version of the extension is used purely for research purposes.**

TO DO:
- implement popup with a prompt introducing GPC; provide users with options

[2021-06-10 00:15] kalicki1 commented on #166
The last commit is the first step in refactoring our code. Currently the extension will only send headers, however I moved all of the functions for our main background listeners into the `events.js` file for simplicity and readability. Moving forward I will add each component of the extension piece by piece and push the changes as I get them done. To keep track of what I intend to do, I hope to:

[2021-06-10 04:47] kalicki1 commented on #166
For some reason, my current GPC DOM property code doesn't work as expected on Chrome... I get a failed to load dom.js error thrown (while running via chrome.runtime.executeScript). I will work around this for now, and in the future if it is not resolved we can change the behavior and run it off of a content script.

[2021-06-10 18:12] kbeliauski commented on #166
@kalicki1 pushed the changes, and I am going to try to implement IndexedBD for the domain list. we are working on the way to use the wrapper function to use everywhere in the extension code

[2021-06-10 18:13] kbeliauski commented on #166
Should I create a new branch just for me messing around with the IndexedDB? And I can put updates in the corresponding issue

[2021-06-10 18:13] kbeliauski commented on #172
Will do that once @kalicki1 is done refactoring the whole codebase

[2021-06-10 18:18] kbeliauski commented on #150
Right now we are refactoring the whole codebase, so I will close the issue for now since I don't see a point to implement this change right now and then redo it with the new code. Will work on this once everything is set.

[2021-06-10 18:18] #150 closed

[2021-06-10 18:29] kalicki1 opened #174 "Fix DOM property set for Chrome (refactored code)"

[2021-06-10 19:51] kalicki1 opened #175 "Switch to mv3"
It seems like updating our manifest version to V3 might solve a couple different issues with one stone. @chunyuema mentioned to me earlier that it might be the case that updating to V3 will resolve some memory management issues mentioned in issue #164.

In addition, I believe that Chrome may be depreciating the tabs.executeScript call I use to execute handling the GPC DOM property (issue #174). It

[2021-06-10 20:38] SebastianZimmeck commented on #166
@kbeliauski, yes, if you are making changes to the codebase based on this issue, it should be in the `issue-166` branch (which, I believe, you already opened).

Each related commit message should then reference `issue #166`.

[2021-06-11 16:26] kalicki1 commented on #175
Mentioning @stanleymarkman and @kbeliauski so you all can keep up with changes here.

[2021-06-11 16:38] kalicki1 commented on #170
As discussed yesterday, @kbeliauski will take the lead here and work on this issue on a branch of branch issue-166. Once completed, we will have to take care to rebase and merge back into the main branch.

@kbeliauski, let us know if you find anything useful and write up what you find here. Let me know if you feel we will need to change the API in `storage.js` based on how indexedDB works.

[2021-06-11 16:48] kalicki1 opened #176 "Reconnecting frontend (settings page/popup) to refactored code"
As discussed yesterday, @stanleymarkman will take the lead on reconnecting the frontend to the refactored code as it stands for now. There are a few roadblocks to fully implementing this issue, namely refactoring the hooks we use to connect to the extension backend regarding `domanlist.js` as well as `storage.js`. I will do my best to clear these and make sure we have the correct behavior so this

[2021-06-11 16:56] kalicki1 opened #177 "Reconnecting cookie functionality to refactored code"
This issue can be picked up by either @stanleymarkman, @kbeliauski or myself depending on who finishes their current tasks first. If one of you start working on this, make a quick mention in the issue.

This issue should be less complicated than the frontend or storage issues since, as far as I remember, everything is nearly standalone in these issues. We need to reconnect
1) the opt-out (DAA) coo

[2021-06-11 17:10] kalicki1 opened #178 "Reconnecting storage to refactored code"
This should be a smaller issue since it's been in progress for a while. I will keep working on this in issue #166 as a sub-issue.

I am trying to reconnect the storage as it is implemented with local storage so that we only interface with the storage via a wrapper everywhere in the extension. I am currently trying to resolve some synchronous/asynchronouos issues related to this, for some reason by

[2021-06-11 17:20] kalicki1 opened #179 "New dev environment using Webpack to build Firefox & Chrome versions"
This is the last big sensitive refactoring issue. Ideally, we will have one repo for both the Chrome and Firefox versions we will be developing. However, since the Firefox version will be diverging from Chrome in the near future, as well as for the sake of codebase simplicity, we need to find a way to abstract away the browser specifics from the code base and use some sort of javascript compiler a

[2021-06-11 17:20] kalicki1 commented on #179
@stanleymarkman @kbeliauski, if you have any experience with this, please feel free to pitch in!

[2021-06-11 17:37] SebastianZimmeck commented on #179
I am thinking ideally there would be one common codebase that works for both Chrome and Firefox and then a module (with the Cal AG compliance functionality) only for Firefox.

[2021-06-11 17:50] kalicki1 commented on #179
@SebastianZimmeck, yes that is what I have in mind as well! I guess this issue is for handling the differences between the few listeners in `background.js` that take different parameters in Firefox vs. Chrome, since we still have separate functions per browser. I think having our extra `if` statement works, but just doesn't feel as elegant as it could be 😅

If we want to, I guess we could simply j

[2021-06-11 17:55] SebastianZimmeck commented on #179
Yes, is there possibly some standard way of doing this or even APIs? I imagine there are other people developing one codebase for different browsers. For example, in React Native there is a standard way of specifying which code should be run for iOS and Android.

@kbeliauski, once you have time, can you find out more ... ?

[2021-06-11 21:22] kalicki1 commented on #178
I just pushed some changes to branch #166 and fixed some of the links to `domainlist.js` and `storage.js`. The few functions that are working can now be used asynchronously with `await`. I have a few random tests floating in `background.js` for the time being. Overall, I think this will help clean up a lot of our code.

Technically I implemented this by wrapping all of the storage calls with promi

[2021-06-12 03:29] kalicki1 commented on #178
I managed to finish off the remainder of the functions connected to this issue and push cleaned up code to branch issue-166. The hierarchy of the code pertaining to this issue is as follows:

`background.js` <- `domainlist.js` <- `storage.js`, which `background.js` implemented each successive, abstracted file.

I will close this issue for now since this is resolved. If we need to fix the code, we

[2021-06-12 03:31] kalicki1 commented on #166
So far, I have managed to connect the backend local storage back to our extension 🥳 This pertains to issue #178 which I will close. @kbeliauski is still working on implementing indexedDB which should be a very hidden change since I have created wrappers that abstract the storage method in issue #178. So far, the cleaned up code contains

- `background.js`
- `events.js`
- `dom.js`
- `domainlist.js`

[2021-06-12 03:33] #178 closed

[2021-06-12 13:43] SebastianZimmeck commented on #166
Excellent! That will be very useful.

[2021-06-12 22:56] kbeliauski commented on #179
Yes, I can look for how to maintain the same codebase easily. I will write what I find here!

[2021-06-12 23:00] SebastianZimmeck commented on #179
And implement it.

[2021-06-13 15:40] stanleymarkman opened #180 "Headless Mode & Automation"
I looked into our idea about pivoting the current extension to do automated analysis and data collection on a set of websites.
The main difficulty with this is the sandboxing around Mozilla/Chrome extensions. Large-scale data collection would involve simulating requests to a bunch of websites in the background, hidden from the user. As far as I can tell, this isn't possible to do fully via an exte

[2021-06-13 16:46] SebastianZimmeck commented on #180
I agree with you, @stanleymarkman. As I see it, the actual analysis capabilities of our extension are much more important than automating it or applying it at scale. I think it may work best if the user just visits a site they want to analyze and then the analysis is performed for that site.

[2021-06-13 20:01] kbeliauski commented on #170
Figured out the reason why I could not see the database in the storage tab of the toolbox: google's website with the tutorial on the idb API is really outdated, so from now on I am just relying on the documentation from the jakearchibald/idb. The new version made the new library a module, which affects the way the new database is created. Also, I installed webpack on this branch.

[2021-06-14 17:58] chunyuema opened #181 "Turning off GPC signal from popup page automatically logs user out from their Google / Github Account"
Currently, attempting to turn off the GPC signal through the popup will automatically logs the user out from Google/Github account that they are currently logged in. Based on my inspection of the code base, it appears to be due to fact that turning off the signal invokes `removeFromDomainlist` function, which in turn invokes `deleteDomainCookies` function. The `deleteDomainCookies` function is pro

[2021-06-14 18:06] kalicki1 commented on #181
Thanks @chunyuema, this is a great catch! Yes, I remember we had discussed this earlier in the year. If I remember correctly, `deleteDomainCookies` should remove the opt-out cookies associated with a domain, since our intention with the extension is to signal a user's opt-out intent via all possible methods, i.e., if someone opts-out, we should remove all opt-out signals.

Now that this is on our

[2021-06-14 18:30] SebastianZimmeck commented on #181
Great, indeed, @chunyuema!

[2021-06-17 16:31] kalicki1 commented on #166
I just pushed a change that allows us to use Webpack in OptMeowt. It is still rough around the edges and will need to be cleaned up, but it should allow work to progress in our new development environment. We now have npm package support!

For the time being, in order to run and test the extension, make sure to have npm installed and then run `npm run build` while pointing to the root directory to

[2021-06-17 16:33] kalicki1 commented on #166
I will work on adding support for compiling our html documents in addition to our main js functionality.

[2021-06-17 17:02] kalicki1 commented on #179
I just pushed some changes in issue #166 that begin to address this with simple Webpack functionality.

[2021-06-17 20:43] kalicki1 commented on #179
This is related to issue #176 because it involves using the frontend with Webpack, as well as #166 broadly.

I just pushed a commit in branch issue-166 (omnibus refactoring branch) that connected Webpack to the popup using html and css loaders (see the `webpack.config.js` for specific names of loaders). Though this would better be discussed more in depth in another issue, I am just making a note s

[2021-06-17 21:35] kalicki1 commented on #176
I'm going to close this issue since we will go ahead with rewritng the front end with React.

@stanleymarkman will take over over there.

[2021-06-17 21:35] #176 closed

[2021-06-17 21:43] kalicki1 opened #182 "Migrating libraries to Node packages"
As @stanleymarkman mentioned, we'll just go ahead and delete all of our libraries and add them back in with Node package substitutes when we find something breaks.

[2021-06-17 21:44] stanleymarkman commented on #182
Idea on how we can do this- disable/delete the entire library folder, install node modules one-by-one as we get reference errors

[2021-06-17 21:47] stanleymarkman commented on #182
From now on, due to the webpack setup all dependencies can be added at build time instead of stored in libs/

[2021-06-17 22:50] kalicki1 commented on #181
I took a second look at this code and I think we need to find a way to save which cookies preserve your login session. That way we can wipe all of the cookies placed on a domain that is logged out (it will be hard to record all opt-out cookies that exist) except for those. This is because the `deleteDomainCookies` function just deletes all of those cookies associated with a domain.

Alternatively

[2021-06-21 17:10] kalicki1 commented on #166
Just pushed an update to move our JSON files containing information about opt-out signals from `src/json` to `src/data` as const exports inside of .js files.

[2021-06-21 18:22] kbeliauski commented on #170
Since the functions in the event.js file are not connected to the listeners in background.js, and the the bundle that is created by webpack (i.e. background.bundle.js) changes the names of the functions that are imported to the original background.js file, and since we don't want to reconnect the functions from events.js to the listeners because it will mess up the new code with the old code, I am

[2021-06-21 21:59] kalicki1 commented on #179
Something that might be useful down the line is Mozilla's [Webextension `browser` API polyfill](https://github.com/mozilla/webextension-polyfill). As mentioned at the top of the repo:

I.e., APIs that run in the promise based `browser` namespace can be used in browsers that don't support it, e.g., Chrome.

[2021-06-22 00:25] SebastianZimmeck commented on #179
Good find, @kalicki1! Just to clarify this would not mean that the [HTTP analysis functionality](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/webRequest/filterResponseData) on which we rely would become available for Chrome, right? It is just that whatever Firefox API is also available on Chrome would be translated over from Firefox.

[2021-06-22 13:25] kalicki1 commented on #179
That is my impression of the polyfill, @SebastianZimmeck. As far as I can find, it should only translate the APIs available to both Chrome and Firefox, though this is something I can test with a sample project.

[2021-06-22 13:55] SebastianZimmeck commented on #179
It seems many people are wondering that. :) So, they included the following in their [readme](https://github.com/mozilla/webextension-polyfill) (confirming our understanding):

[2021-06-23 03:19] kalicki1 commented on #179
Just pushed a commit referenced in issue #166 regarding the first major development environment regarding building for Firefox and Chrome.

The new commit in branch issue-166 adds two new files, `listeners-firefox.js` and `listeners-chrome.js`, which are called implicitly from the now even more streamline `background.js` via `import . . . "listeners-$BROWSER.js"`. I added the `string-replace-loade

[2021-06-24 00:25] kalicki1 commented on #179
As I have implemented this functionality at the most basic level, I will go ahead and close this issue.

If we find bugs related to the developer setup and how we compile for Firefox and Chrome, we can open this back up at another time in the future.

[2021-06-24 00:25] #179 closed

[2021-06-24 00:42] kalicki1 commented on #166
I have closed issue #179 since I have implemented the functionality to build for both Firefox and Chrome in our dev environment. As a side note, it looks like as a result of this and using NPM and Webpack, I believe we should be able to stop using Grunt to move our libraries into the project repo when there are updates. Since we are using Node packages right from NPM regardless, `npm install` shou

[2021-06-24 03:31] kalicki1 commented on #182
I just pushed a commit that removed all of our libraries from the extension.

I managed to fix most of the popup, at least with respect to looks without fixing any functionality. The dark mode lib will take a little bit more work to make functional again as well.

[2021-06-24 12:46] SebastianZimmeck commented on #182
Great! Yes, the dark mode is not horribly important.

[2021-06-24 12:51] SebastianZimmeck commented on #166
Nice!

[2021-06-24 14:31] SebastianZimmeck commented on #134
Closing this issue as it is superseded by #171.

[2021-06-24 14:31] #134 closed

[2021-06-24 14:57] SebastianZimmeck commented on #147
Here is an overview of privacy flags in HTTP requests:

1. Google [Restricted Data Processing (RDP)](https://support.google.com/adsense/answer/9598414?hl=en)
2. IAB [US Privacy String](https://github.com/InteractiveAdvertisingBureau/USPrivacy/blob/master/CCPA/US%20Privacy%20String.md#how-should-a-us-privacy-string-be-used)
3. DAA [cookie opt outs](https://digitaladvertisingalliance.org/integrate-w

[2021-06-24 15:02] SebastianZimmeck commented on #162
@stanleymarkman, it would be good if you can explain a bit more at our meeting later today.

[2021-06-24 15:04] SebastianZimmeck commented on #180
As we decided for the time being to not do any automation or use tools beyond the extension, e.g., Selenium, I am closing this issue.

[2021-06-24 15:04] #180 closed

[2021-06-24 15:06] SebastianZimmeck commented on #167
There does not seem to be a whole lot we are discussing. :) I am closing this issue. Feel free to reopen as necessary, @kalicki1.

[2021-06-24 15:06] #167 closed

[2021-06-24 15:07] SebastianZimmeck commented on #165
@kalicki1, can you update this issue (or close if it is superseded in the meantime)?

[2021-06-24 15:10] SebastianZimmeck commented on #174
@kalicki1, could you provide a short update here? (or we can discuss later today)

[2021-06-24 15:12] SebastianZimmeck commented on #169
I am closing this for now as the questions for me is going beyond the UI and is an architectural one (one extension or two? how to structure the code? ... ). Once we have resolved this fundamental question, we can tackle the UI again.

[2021-06-24 15:12] #169 closed

[2021-06-24 16:46] kalicki1 commented on #174
I haven't tackled this fully yet, however the issue as it stands is that refactoring somehow broke the DOM property injection functionality on either Chrome or Firefox (I don't remember unfortunately). I just double checked to see which it is, and it seems like it may be broken for both now after adding Webpack into the workflow. For this issue, I have two recommendations for starting points:

1.

[2021-06-24 16:50] kalicki1 commented on #165
I think that we have clarified our timeline sufficiently enough since I opened this issue so that we can close this one.

The way I see it, we will be done with refactoring the code very soon and we will be able to move onto designing and implementing the analysis functionality. Since this is the case, I will go ahead and close this omnibus!

[2021-06-24 16:50] #165 closed

[2021-06-24 16:53] SebastianZimmeck commented on #174
Sounds good. Yes, a good issue for @kbeliauski (with your input).

[2021-06-24 17:05] kalicki1 commented on #182
As @stanleymarkman has mentioned he managed to get the options page working to some extent, I will leave alone re-implementing all of the frontend libraries via node modules instead of our old method of using the local `src/libs` folder.

Since this is the case, I will go ahead and close this issue and open a small one regarding dark-mode so we do not forget.

[2021-06-24 17:05] #182 closed

[2021-06-24 17:06] kalicki1 opened #183 "Reimplement dark mode"
Since issue #182 involved deleting our existing libraries, we will need to reimplement dark mode for OptMeowt at some point in the future. This is a low priority issue, we can get to it when we have time.

For reference, I think we can reuse the same style sheets we have saved in an older commit prior to deleting our libraries, potentially with a better or more popular dark mode node package.

[2021-06-24 19:16] SebastianZimmeck commented on #168
We close this issue until we have more concrete UI elements to implement, at which point we will open new issue(s). @stanleymarkman will be taking care of this.

[2021-06-24 19:16] #168 closed

[2021-06-24 19:33] SebastianZimmeck commented on #159
This file is currently called privacy_flags.js and in src/data.

[2021-06-28 18:38] kbeliauski commented on #170
I have implemented the indexedDB functionality for the current functionality of the extension. Once we need to implement it in other places, I will reopen this issue.

[2021-06-28 18:38] #170 closed

[2021-07-01 17:49] stanleymarkman opened #185 "For new release switch to minified js dependencies"
When I added back the dependencies into the webpacked refactoring of the extension, for debugging purposes I used the unminified version wherever possible. This causes webpack to throw warnings, though, since the popup/options entrypoints are now pretty big (>3mb each). I don't think this is that big of a deal, especially for an extension rather than a webapp, but before release we should switch a

[2021-07-04 03:54] SebastianZimmeck commented on #159
I started working on the privacy flags and [wrote up some comments](https://github.com/privacy-tech-lab/integrated-privacy-analysis/issues/204).

@stanleymarkman, just to clarify, the format that you are using for the flags in the [privacy_flags.js](https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/issue-166/src/data/privacy_flags.js) is not always reflected in the specs of the f

[2021-07-04 20:38] kbeliauski commented on #149
I am closing this issue for now after looking for the best way to find the links on the pages of the website that are not the home page. The only good way to do it now is to use the site crawlers that are written in python as javascript doesn't have this kind of functionality. In addition, after we refactor the UI, I can either reopen this issue or open a new one where I will focus on identifying

[2021-07-04 20:38] #149 closed

[2021-07-05 19:33] stanleymarkman opened #186 "Fixing options page"
Some options page functionality is currently broken- I'm working on tracking down why.

-Main todo here: replace persistent data storage callbacks with the new ones in storage.js (which are subject to change by Kuba over the next couple days)

Specifically, other broken functionality involves loading the 'scaffold' template which is injected into the page- it seems to break sometimes for unclear r

[2021-07-05 19:36] kalicki1 opened #187 "Fixing popup"
This is related to refactoring OptMeowt issue #166.

I am close to finishing reconnecting the popup OptMeowt, over the next couple of days I will push the related changes.

[2021-07-05 23:55] SebastianZimmeck commented on #175
As a note for the future: in a [blog post](https://blog.chromium.org/2019/06/web-request-and-declarative-net-request.html) Google announced the [replacement of the Web Request API with the Declarative Net Request API](https://blog.chromium.org/2019/06/web-request-and-declarative-net-request.html) for Manifest V3 – the next version of the Chrome Extensions platform. This change also affects our use

[2021-07-05 23:58] SebastianZimmeck commented on #175
One good point that @stanleymarkman brought up is that we can develop new code already with an eye on compatibility with V3. That way, we avoid refactoring in the future.

[2021-07-06 16:36] kalicki1 commented on #166
@kbeliauski, @stanleymarkman, I just pushed two different changes that fixes our `storage.js` file and changes its exports. From now on, let's use `storage.get()`, `storage.set()`, etc., instead of `getFromStorage()` and the other old functions. This way we can simplify our imports to `storage` from `storage.js`.

Pull the changes as you all can.

[2021-07-06 16:46] kalicki1 commented on #166
As of right now, it looks like we have a few things left to do as part of our refactor. In order of priority, more or less, we have to do the following:

- [ ] Fix the popup frontend (issue #187)
- [ ] Fix the options page frontend (issue #186)
- [ ] Fix the DOM property functionality (issue #174)
- [ ] Fix dark mode (issue #183) (low priority)

Then in a separate release after the refactor is don

[2021-07-06 18:43] kbeliauski commented on #174
The DOM signal is being sent now. We fixed the problem by adding copying the dom.js file to the dev folder, which is a folder that webpack creates when building the project. We do this using CopyPlugin. The reason why we use this plugin is because we don't have that many files that need to be copied to the build folder. We can return back to this issue if at some point we realize that we have too

[2021-07-06 19:03] kalicki1 commented on #177
I'm picking this up now that we got a few roadblocks out of the way. I will push changes as soon as they are done.

[2021-07-06 19:05] SebastianZimmeck commented on #174
@kbeliauski, could you also add CopyPlugin to the [third party libraries list](https://github.com/privacy-tech-lab/optmeowt-browser-extension#third-party-libraries)? Let's do this in general for all dependencies. That way we have a central place, especially, if we want to review license agreements.

[2021-07-06 19:20] kbeliauski commented on #187
I am going to continue working on this issue while @kalicki1 works on adding the cookies functionality back.

Things we have to do to fix the popup:

- [] fixing the storage method
- [] making sure that everything in the DOMContentLoader [here](https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/c34a2457464c4768aff4247d0ceea74793d99772/src/popup/popup.js#L58)
- [] fixing the 3rd pa

[2021-07-06 19:44] kbeliauski commented on #174
@SebastianZimmeck, I will create a new issue for this since we have other dependencies that need to be added there. So I will go through he whole code and see what else was not added.

[2021-07-06 19:52] #174 closed

[2021-07-08 04:23] SebastianZimmeck commented on #147
I did an [analysis](https://github.com/privacy-tech-lab/integrated-privacy-analysis/issues/204#issuecomment-873515220) to get a better understanding of the privacy strings/flags.

There are a few points to note and to discuss:
- As it currently stands, European flags (e.g., TCF v.2.0) and other non-US flags do not help us immediately because those do not have a corresponding browser signal (such a

[2021-07-08 15:21] kalicki1 commented on #177
The last few commits to #166 were related to this cookie functionality issue. I got both the DAA on-install and IAB per-site cookies working again, currently in handled in `src/background/cookies_oninstall.js` and `src/background/cookies_iab.js` respectively. The renamed files `src/data/cookies_daa.js` and `src/data/cookies_usercustom.js` both pertain to cookies placed on install of OptMeowt.

As

[2021-07-08 15:22] #177 closed

[2021-07-08 16:10] kbeliauski opened #188 "Update the Third Party Library List"
Since we refactored our code to use webpack, babel, and many other different third party dependencies, we need to update the [third party libraries list](https://github.com/privacy-tech-lab/optmeowt-browser-extension#third-party-libraries). I will just go through the code and add everything that is not in the list yet.

[2021-07-08 17:45] #186 closed

[2021-07-15 17:20] kalicki1 commented on #187
I managed to finish off the rest of the work related to this issue. Since the bulk of the work here is done, I will go ahead and close this issue. Thanks @kbeliauski for your work on this!

[2021-07-15 17:20] #187 closed

[2021-07-15 17:26] kalicki1 commented on #181
Looking this over again at this point in time, I think we will either need to discuss this or keep this open for a little bit longer. Since this is related to deleting all cookies of a domain, this is still an issue because we actually have not reimplemented the functionality that deletes all the Do-Not-Sell cookies off a domain when a user switches Do-Not-Sell off for a domain. As a result, if we

[2021-07-15 17:27] kalicki1 commented on #172
I have been trying to rename variables and functions when I came across them during the refactor. We can do one big last scan over the codebase prior to our release to see if there's anything else we want to check and then move forward with closing this issue.

[2021-07-15 17:29] kalicki1 commented on #166
There are a few outstanding issues related to our refactor, but there are small enough we can spin them off from here and work on them in other issues or in main. Since I merged branch issue-166 (issue #166) into main, I will go ahead and close this issue as well.

[2021-07-15 17:29] #166 closed

[2021-07-15 17:33] kalicki1 opened #190 "Fix domainlist not generated in options page"
One of the outstanding broken features of our codebase is that the domainlist page on our options page doesn't populate with the user's domainlist. Let's use this issue to track those fixes.

[2021-07-15 17:34] kalicki1 commented on #190
I'm not sure if these changes exist yet and just need to be pushed or if this is something we need to work on. @stanleymarkman, I think you may have been looking at this, do you have any updates on it or should we both take a look?

[2021-07-15 17:51] kalicki1 opened #191 "Fix tutorial on settings page & on popup"
This isn't necessary, but if we would like to still show a tutorial on extension install, we need to rewire it.

[2021-07-15 17:56] kalicki1 commented on #172
One thought I had was to rename a few of the modules that get bundled into `background.bundle.js` as the extension background script. Currently the hierarchy of function calls (within the bundled code and source code) is as follows:

`background.js` <-- `listeners-(chrome/firefox).js` <-- `events.js`

Where
- `background.js` holds: enable()/disable() and calls to browser specific listeners in `lis

[2021-07-15 18:08] kalicki1 opened #192 "3rd Party Domains don't reset between page loads on Popup"
This may be related to how the requested domains are cached in `events.js`. We will need to add a reset that clears this between page loads.

[2021-07-15 18:46] SebastianZimmeck commented on #181
Very good observation, @kalicki1!

[2021-07-15 18:50] kalicki1 opened #193 "Fix export/import settings functionality from options page"

[2021-07-15 19:14] stanleymarkman commented on #193
i/o functionality exists in previous commits- should only need to implement it directly into settings page, since this stuff isn't needed anywhere else.

[2021-07-15 19:14] SebastianZimmeck commented on #190
Closing as it is already fixed.

[2021-07-15 19:14] #190 closed

[2021-07-15 19:23] kalicki1 commented on #181
I will go ahead and reimplement this functionality as it was prior to refactoring as discussed in today's meeting.

[2021-07-15 19:26] kalicki1 commented on #191
I will look into this and see how much work there is to do, then I will report back here.

[2021-07-15 19:35] SebastianZimmeck commented on #172
All of us will look a bit into this for next, think about this, and comment here. background.js for @kalicki1 that there is something on-going. And @stanleymarkman is saying we should just name the files according to what they do.

[2021-07-15 19:37] SebastianZimmeck commented on #183
There might be an issue with the dependency. Maybe, it is better to use a different library that works with node.

[2021-07-15 19:39] stanleymarkman commented on #172
Just some initial thoughts-
Background.js sets up listeners- so setup_listeners.js?
Events.js isn't super descriptive, but handles both web traffic and other browser events. Either rename it browser_events.js, or split it into handle_webtraffic and handle_browserevents

[2021-07-15 19:40] SebastianZimmeck commented on #183
Here is a link to a previous commit where OptMeowt has dark mode:

https://github.com/privacy-tech-lab/optmeowt-browser-extension/tree/3ce729d0688d74e558f646a9f28b0be8ce00d917

[2021-07-15 22:44] SebastianZimmeck commented on #172
I like @stanleymarkman's points.

Also, as @kalicki1 mentioned during our call today, for me a background.js script listens for events the whole time the extension is running. As the current background.js does not do that init.js or setup_listeners.js may be a better name, indeed.

[2021-07-18 21:11] SebastianZimmeck opened #194 "Implement functionality for identifying Do Not Sell links"
For our compliance analysis we need to identify Do Not Sell links on homepages. That way we know that a visited site is subject to the California Consumer Privacy Act (CCPA). In principle, this task is easy. I can see two issues, though: first, if the link is dynamically loaded via JavaScript, we may not see it; second, the link text may have different variations ("Do Not Sell my Info", "Do Not Se

[2021-07-19 18:48] stanleymarkman commented on #175
Tried to switch our project to v3 and got many issues on firefox- turns out, Mozilla isn't supporting v3 yet at all, with developer testing planned for "q4 2021" (https://blog.mozilla.org/addons/2021/05/27/manifest-v3-update/)
Mozilla is having pretty open discussions on Bugzilla and the forums about v3- we could even try making suggestions there to preserve our precious APIs.

[2021-07-19 18:58] kalicki1 commented on #191
I managed to get this functionality up and running. I will go ahead and close this issue, we can reopen it if issues arise.

[2021-07-19 18:58] #191 closed

[2021-07-19 21:54] eligrey opened #195 "Regression: DOM signal injector does not follow spec"
[Your DOM signal injector](https://github.com/eligrey/optmeowt-browser-extension/blob/main/src/dom.js) is still using the old implementation that I fixed in #142.

Consent managers may expect [a correct implementation](https://github.com/eligrey/optmeowt-browser-extension/blob/9be43907440708b742fb4b55b74ac94fb22fcf54/src/dom.js) to properly heed the GPC signal.

[2021-07-20 01:00] SebastianZimmeck commented on #195
Thanks, @eligrey! We are currently doing a major refactoring, and I could imagine that change fell through the cracks. We will look into it ...

[2021-07-20 23:30] kalicki1 commented on #181
I just pushed some changes to reimplement this functionality. Everything seems to be working as intended; I added a check whether something is being modified in the domainlist right into `storage.js`, which calls functions to carry out setting/removing the cookies via `storageCookies.js`'s exports.

As a side note related to our IAB cookie implementation, at the moment the IAB cookie for a domain

[2021-07-20 23:31] kalicki1 commented on #181
Since cookies will be removed in a future OptMeowt release, I will go ahead and close this issue related to the original bug.

[2021-07-20 23:31] #181 closed

[2021-07-21 00:21] kalicki1 commented on #195
Thanks for the heads up, @eligrey! You're right, our last release, [v1.1.4](https://github.com/privacy-tech-lab/optmeowt-browser-extension/releases/tag/v1.1.4), does have [the bad DOM signal injector](https://github.com/privacy-tech-lab/optmeowt-browser-extension/blob/v1.1.4/src/dom.js). I'm not sure how this slipped through, but we do have the correct [injector implementation](https://github.com/

[2021-07-22 01:33] kalicki1 commented on #192
It looks like this may actually be a bug from our old code.

 I think it is an edge case bug that was never found out because it only shows itself when you keep reloading new sites without switching tabs. Only then do all the old requests continue to show without clearning themselves, i.e., you visit `google.com` and the third party domains are

1) `google.com`
2) `gstatic.com`
3) `doubleclick.net

[2021-07-22 01:42] SebastianZimmeck opened #196 "Fix .well-known/gpc.json recognition"
When I go to weather.com or nytimes.com, the OptMeowt Icon in the browser bar does not turn fully green. However, it does when go to weather.com/.well-known/gpc.json or nytimes.com/.well-known/gpc.json. On the other hand, the .well-known is properly recognized on our sites, e.g., privactechlab.org. I think this used to work up until a few days ago. Maybe, an issue that came up due to the refactori

[2021-07-22 01:44] SebastianZimmeck commented on #196
Actually, wait a second. I just did a fresh install from the Chrome Web Store, and that version has that behavior. So, maybe it is not related to the refactoring.

[2021-07-22 01:52] SebastianZimmeck commented on #196
OK, now all of a sudden it works on both nytimes.com and weather.com (with the version I just freshly installed from the Chrome Web Store). For nytimes.com it just flashes briefly for a split second barely visible. So, maybe something changed on their site or in the most recent version of Chrome. Either way, this was mostly a false alarm, and we have bigger fish to fry at the moment. So, closing t

[2021-07-22 01:52] #196 closed

[2021-07-22 03:13] kalicki1 commented on #192
I wrote up my notes here so I don't forget, apologies for the long comment. Feel free to skim or even to read just read the summary.

## My tests

So I ran a few tests with the tools we already use (namely the `webRequest` & `webNavigation` APIs) and here is what I found. Just so its documented, the line of code I want to run to clear our per tab requests cache is
`tabs[activeTabID].REQUEST_DOMAIN

[2021-07-22 03:21] kalicki1 commented on #192
This could also take research into what constitutes a navigation event and what info we can get alongside one.

[2021-07-22 04:06] SebastianZimmeck commented on #192
Thanks for writing this up, @kalicki1! Let's discuss this tomorrow, so that I fully understand how much of an issue this is.

[2021-07-22 04:22] SebastianZimmeck commented on #185
I am closing this issue as @kalicki1 mentioned that the Firefox extension review requires unminified libraries. Given that webpack still works, just with warnings, I think it is OK. Feel free to reopen if you prefer @stanleymarkman.

[2021-07-22 04:22] #185 closed

[2021-07-22 04:26] SebastianZimmeck commented on #183
Maybe a good first issue for @OliverWang13 as the re-implementation of the dark mode may be fairly independent of analysis functionality or other more complex functionality.

[2021-07-22 04:30] SebastianZimmeck commented on #194
Identifying Do Not Sell links is also a good first issue (just as #183; we can discuss next week @OliverWang13).

[2021-07-22 04:36] kalicki1 commented on #183
Sounds good! I'm actually taking a cursory look at this right now, I have a list of candidate libraries. These are the "most popular" libs I could find.

[dark-mode-switch](https://www.npmjs.com/package/dark-mode-switch): The old code uses this. Not as popular as the two below. Basically a bootstrap button.
[darkmode-js](https://www.npmjs.com/package/darkmode-js): This may be the way to go, looks

[2021-07-22 04:40] SebastianZimmeck commented on #183
Great, @kalicki1! [That](https://github.com/privacy-tech-lab/optmeowt-browser-extension/issues/183#issuecomment-884650902) will be a good starting point for @OliverWang13 (possibly with a little help from friends, i.e., you :).

[2021-07-22 05:36] eligrey commented on #195
Thanks, glad to hear that this isn't slipping through the cracks

[2021-07-22 17:56] kalicki1 opened #197 "Release 2.0.0"
Since we're getting ready to push a release, I figured we could open an issue to keep track of outstanding issues and have a place to discuss release procedures.

I think what remains to be finalized are:

- [x] import/export settings page functionality - issue #193
- [x] Tentatively rename files for finalized commit - issue #172
- [x] Update developer names in source code - issue #160
- [x] dark

[2021-07-22 18:22] stanleymarkman commented on #193
Export functionality is now working, although I'm not sure if it's backwards compatable. @kalicki1 , any chance if you know if there's a saved domainlist from an old version, so I can test import functionality?

[2021-07-22 23:42] kalicki1 commented on #192
We discussed this a little bit today and have decided to keep this issue open for the time being, with the implication that my temporary patch utilizing a cache clear function on `webNavigation.onBeforeNavigate` will do fine. The tests mentioned below don't really provide an advantage over the `onBeforeNavigate` API, but it's good to note what was discussed.

[2021-07-22 23:42] kalicki1 commented on #192
@stanleymarkman suggested a few good points to note. He pointed out it may be the case it is not necessarily our fault the API is a little imperfect. He suggested

He also suggested that if this is the case, we could look into what events occur on a javascript `onUnload` call, since it may also be the case that

The last thing @stanleymarkman mentioned was checking whether certain firefox config s

[2021-07-23 00:22] kalicki1 commented on #193
I don't believe I have any saved versions, but you can generate one from the old code. If you run a version of the extension prior to our refactor, visit a few sites, and export that, that should work!

[2021-07-23 00:44] SebastianZimmeck commented on #192
As @kalicki1 [said](https://github.com/privacy-tech-lab/optmeowt-browser-extension/issues/192#issuecomment-885305760). We keep this issue open in case we find a better solution over the next few weeks. If there is none, the current solutions is just fine and we close this issue.

(Note to self: in a nutshell this issue concerns that if you visit google, then ddg, then yahoo, etc., there may be som

[2021-07-23 00:45] SebastianZimmeck commented on #193
If you feel it is necessary, @stanleymarkman (OK with me if not).

[2021-07-24 02:09] SebastianZimmeck commented on #160
Done.

[2021-07-24 02:09] #160 closed

[2021-07-24 02:46] SebastianZimmeck commented on #188
I am in the process of updating the list:
- Looks like we are not using [psl (Public Suffix List)](https://github.com/lupomontero/psl) anymore
- For the time being, I am leaving in Dark Mode Switch. If @OliverWang13 is not using it, we can remove it (and add whatever @OliverWang13 is using, if anything)
- I will add the following libraries:
   - [webpack](https://webpack.js.org/)
   - [babel](http

[2021-07-26 16:00] SebastianZimmeck commented on #194
There are two steps of approaching this:
1. How to identify links on the homepage
2. How to integrate the link identification functionality into the current codebase